/*Extra Person CSS*/


@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/chatuserarea.css");
@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/extra2.css");

/* Hide Stuff */
[aria-label="Threads"],
[aria-label="Notification Settings"],
[aria-label="Hide Member List"],
[aria-label="Inbox"],
[aria-label="Help"] {
  display: none
}

/* GIF button */
button[aria-label="Open GIF picker"],

/* Gift button */
button[aria-label="Send a gift"],

/* Nitro DM button */
li button[aria-label*="Nitro"],

/* Shop button */
li button[aria-label="Shop"] {
  display: none !important;
}


/* Disable Join Server and Discovery Icon */
/**
* @name hidePinDiscovery
* @author krystalskullofficial
* @version 1.0
* @description Hides the new pinned Discovery Icon
*/
div[class^="_650eb104245d257b-tutorialContainer"] { display: none; }
._650eb104245d257b-tutorialContainer + ._650eb104245d257b-listItem {display: none;}


/*Support icon in toolbar*/
._9293f6b2fc12398a-toolbar .edefb8e22d63c542-anchor[href="https://support.discord.com"],
/* Bell icon/notification settings*/
._9293f6b2fc12398a-iconWrapper:has(path[d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1"],
/*Add friends to dm*/
path[d^="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5"],
/*enable camera in dm*/
path[d^="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3"]){ display: none; 
}


/* Remove Activty Button*/
._1405b3b8e8eb5fd0-buttonContainer {
  display: none;
}
._650eb104245d257b-tutorialContainer,
._650eb104245d257b-tutorialContainer+div{display: none;
}


/* Remove Share Screen Left*/
.e131a99484292a19-actionButtons {
 display: none;
}


/* Add "@" before Username */
[class*=userTag_] [class*=userTagUsername_]:before {
  color: white(--text-muted);
  content: "@";
}


/* Flip Camera */
._48b20dfd18726df7-mirror {
    transform: scaleX(1);
}


/* Hide Noise Suppression Icon In Call*/
._67645e1530f1195d-button:has(path[d^=" M0,-5 C0,-5 0,-5 0,-5 C0.5519999861717224"]){
  display: none
}


/* Enables 3D transformations */
-79,363 +79,3 @@ path[d^="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3"]){ display: none;
    transition: transform 0.6s ease;
    transform-style: preserve-3d; /* Enables 3D transformations */
}
[class^=reaction_]:not(:has(._23977d5b7cef7361-burstGlow)):hover .emoji {
    animation: flipAndScale 0.6s forwards;
}
@keyframes flipAndScale {
    from {
        transform: rotateY(0deg) scale(1);
    }
    to {
        transform: rotateY(360deg) scale(1.5);
    }
}
/* Call Icon Buttons */
._1405b3b8e8eb5fd0-wrapper button{
    background-color: rgba(197, 197, 197, 0.685) !important; 
}
._1405b3b8e8eb5fd0-wrapper div foreignObject  {
    mask-image:none;
}
._1405b3b8e8eb5fd0-wrapper .f1ceaca61b18918e-contextMenuNub{
    display:none;
}
/*Shake animation hover to the text area when you don't have permission !*/
/* Define the shake animation */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-10px); }
  40%, 80% { transform: translateX(10px); }
}
/* Initial state of the element */
[class*=channelTextAreaDisabled] {
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
}
/* Hover state to trigger the shake animation */
[class*=channelTextAreaDisabled]:hover {
  animation: shake 0.5s ease-in-out;
}
/* Server shortcuts as Icons */
._2ea32c412048f708-basicChannelRowLink ._2ea32c412048f708-name{
  display: none;
}
li:not([class]):has(._2ea32c412048f708-basicChannelRowLink),
div:not([class]):has(._2ea32c412048f708-basicChannelRowLink) {
    width: min-content;
    display: inline-flex;
}
._2ea32c412048f708-basicChannelRowLink ._2ea32c412048f708-icon{
  margin-left: 0px;
  margin-top: 0px;
  scale: 1;
}

  
/**
* @name RecolorAddFriendsTab
* @author krystalskullofficial
* @version 2.1
* @description Recolors the Add Friends tab on Discord
*/

/* Target Add Friend tab reliably */
[role="tab"][aria-label="Add Friend"] {
    background-color: var(--background-color) !important;
    color: var(--interactive-normal) !important;
}

/* Hover */
[role="tab"][aria-label="Add Friend"]:hover {
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}

/* Selected */
[role="tab"][aria-selected="true"][aria-label="Add Friend"] {
    background-color: var(--background-modifier-selected) !important;
    color: var(--interactive-active) !important;
}

/* Selected + hover */
[role="tab"][aria-selected="true"][aria-label="Add Friend"]:hover {
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-active) !important;
}


/* Make Delete/Logout Buttons Red */
[class^=item_][data-tab-id="DELETE"],
[class^=item_][data-tab-id="logout"] {
    color: var(--info-danger-foreground) !important;
}
[class^=item_][data-tab-id="DELETE"]:hover,
[class^=item_][data-tab-id="logout"]:hover {
    background-color: var(--info-danger-background) !important;
}
/* Centered Voice Controls */
.bfe55a0aaaf62375-bottomControls > ._7c0bae9243151ddd-flex:is(:first-child, :last-child) {
  flex: 1 1 50% !important;
}
.bfe55a0aaaf62375-bottomControls > ._7c0bae9243151ddd-flex:nth-child(2) {
  flex: 0 1 auto !important;
}
/* Don't show Chat Apps   */
.visual-refresh .channelAppLauncher_e6e74f, .c38106a3f0c3ca76-trailing [href="https://support.discord.com"]{display: none;
}

