/
/
/
/
/
/
/*Hide Nitro*/
/
/
/
/
/
/

/*
 * @name Hide Nitro Upselling
 * @description Hide all Nitro upselling in any language
 * @author tom2k
 * @version 2.3.0
*/
/* customization */
:root {
    /* do you want to see your quests/billing/nitro settings? */
    /* yes, I want to see it -> --billing: block !important; */
    /* no, hide it -> --billing: none; */
    --billing: none;
    /* do you want to see server boosting/server shop upsell? */
    /* yes, I want to see it -> --boosting: block !important; */
    /* no, hide it -> --boosting: none; */
    --boosting: none;
}

/* GENERAL HIDE */
/* nitro Button above DM List */
[href="/store"],
/* Shop Button above DM List */
[href="/shop"],
/* nitro upselling in server boosting screen */
[class^=guildStatus_] > [class^=guildBoostCtas_] > [class^=guildBoostCta_][class*=guildBoostCtaSecondary_],
/* nitro icon in stream quality */
[class^=streamQualityIndicator_] [class^=premiumStreamIcon_] {
    display: none;
}
#app-mount > [class^=appAsidePanelWrapper_] > [class^=themeEditor_] {
    /* random side popup theme upsell - image #3 */
    &:has([class^=shinyButton_]),
    /* nitro themes in theme preview editor */
    [class^=selectionGroup_] {
        display: none;
    }
}

/* disable hovering tooltip on nitro icon in stream quality */
[class^=streamQualityIndicator_]:has([class^=premiumStreamIcon_]),
/* disable clicking on anything that redirects to nitro page */
[href="https://discord.com/settings/premium"]:active {
  pointer-events: none;
}

/* settings */
[class^=standardSidebarView_] {
    /* tabs */
    > [class^=sidebarRegion_] > [class^=sidebarRegionScroller_] > nav > [class^=side_] {
        /* billing settings tabs */
        /* header */
        > [class^=header_]:has(+ [class^=premiumTab_]),
        /* nitro */
        > [class^=premiumTab_],
        /* subscriptions */
        > [data-tab-id="Subscriptions"],
        /* gift inventory/quests */
        > [data-tab-id="Library Inventory"],
        /* billing */
        > [data-tab-id="Billing"],
        /* following separator */
        > [data-tab-id="Billing"] + [class^=separator_] {
            display: var(--billing);
        }
        /* user settings boost tab */
        > [data-tab-id="Nitro Server Boost"] {
            display: var(--boosting);
        }
        /* user settings merch */
        > [data-tab-id="merchandise"] {
            display: none;
        }
        /* server settings boost status tab */
        > [class^=serverBoostTabItem_] {
            display: var(--boosting);
            + [class^=separator_] {
                display: var(--boosting);
            }
        }
        /* server settings subscriptions tab */
        > [data-tab-id=ROLE_SUBSCRIPTIONS] {
            display: var(--boosting);
            [class^=sidebar_] [class^=header_]:has(+ &),
            + [class^=separator_] {
                display: var(--boosting);
            }
        }
    }
    /* profiles tab */
    #profile-customization-tab {
        /* "Try Out Nitro!" section */
        > [class^=premiumFeatureBorder],
        [class^=limitedFeatureBorder],
        /* unique server profiles overlay */
        [class^=upsellOverlayContainer_],
        /* shop upselling */
        > [class^=container_][style^="background-image:"] {
            display: none;
        }
        [class^=profileCustomizationSection_] [class^=customizationSection_] {
            &[class*=withDivider_]:has(> [class^=buttonsContainer_]) {
                /* avatar decorations */
                + [class^=customizationSection_],
                /* profile effects */
                + [class^=customizationSection_] + [class^=customizationSection_] {
                    display: none;
                }
            }
            /* disable clicking on server specific avatar when not unlocked */
            [class^=avatar_][class*=clickable_]:has(path[d^="M7 4a1 1 0 0 0 0 2h3a1"]) {
                pointer-events: none;
                /* prevent clicking through status icon */
                rect {
                    pointer-events: none;
                }
            }
            /* disable clicking on banner when not unlocked */
            [class^=banner_] > [class^=clickable_]:has(path[d^="M7 4a1 1 0 0 0 0 2h3a1"]) {
                pointer-events: none;
            }
        }
    }
    /* appearance tab */
    #appearance-tab {
        /* customize colour background section */
        section:has(> [class^=header_] [class^=nitroWheel_]) {
            display: none;
        }
        /* custom icon section */
        [class^=selectionGroup_]:has([class^=nitroWheel_]) {
            display: none;
        }
    }
    /* entrance sounds in voice & video settings */
    [id="voice-&-video-tab"] [class^=divider_][class*=callSoundsDivider_] ~ [class] {
    display: none !important;
    }
    /* server settings */
    /* overview tab boosting upsell */
    #overview-tab [class^=divider_] [class^=divider_]:has(> [class^=flex_] > [class^=flexChild_] > [class^=shinyButton_]),
    /* hide role icon section in roles tab when unavailable */
    #roles-tab [class^=contentWidth_] > [class^=container_]:has([class^=availabilityIndicator_] > [class^=icon_]:not([class*=unlockedIcon_])) {
        display: var(--boosting);
    }
    #emoji-tab,
    #stickers-tab,
    #soundboard-tab {
        /* boost upsell banner */
        [class^=banner_]:has(> [class^=ctaContainer_] > [class^=shinyButton_]) {
            display: var(--boosting);
        }
    }
    #stickers-tab,
    #vanity_url-tab {
        /* boosting button */
        [class^=shinyButton_] {
            display: var(--boosting);
        }
    }
    #roles-tab,
    #vanity_url-tab {
        /* level requirement indicator */
        [class^=availabilityIndicator_] {
            /* hide boost icon */
            > [class^=icon_] {
                display: var(--boosting);
            }
            /* add margin so text is centered */
            > h2 {
                margin-left: 4px;
            }
            /* disable clicking level indicator */
            [class^=clickable_]:has(> &) {
                pointer-events: var(--boosting);
            }
        }
    }
    /* stickers tab boosting upsell */
    #stickers-tab {
        /* number of boosts description */
        [class^=tierDefaultUnlocked_],
        /* locked tiers */
        [class^=tier_]:has(> [class^=tierHeaderLocked_]),
        /* progress bar */
        [class^=progress_][class*=progressBar_] {
            display: var(--boosting);
        }
    }
    /* nitro upsell in server settings boost status tab */
    #guild_premium-tab > [class^=tier0Container_] {
        display: none;
    }
}
/* billing settings right click entry */
/* nitro */
#user-settings-cog-Discord_Nitro,
/* subscriptions */
#user-settings-cog-Subscriptions,
/* gift inventory/quests */
#user-settings-cog-Library_Inventory,
/* billing */
#user-settings-cog-Billing {
    display: var(--billing);
}
/* merch */
#user-settings-cog-merchandise {
    display: none;
}

/* boosting */
/* boost progress bar */
#channels > ul > li:has(> [data-list-item-id^=channels___boosts]),
/* server shop */
#channels [class^=containerDefault_]:has(> [id^=shop]),
/* booster badge in memberlist */
[class^=membersWrap_] [class^=premiumIcon],
/* right click entry to user settings boost tab */
#user-settings-cog-Nitro_Server_Boost,
/* boost button on clicking server header */
#guild-header-popout-premium-subscribe,
/* ^ following separator */
#guild-header-popout div:has(> #guild-header-popout-premium-subscribe) + [class^=separator_],
/* context menu for subscriptions tab */
#guild-context-guild-settings--ROLE_SUBSCRIPTIONS,
/* context menu for boost status tab in server settings */
#guild-context-guild-settings--GUILD_PREMIUM {
    display: var(--boosting);
}
/* disable clicking on server boost status icon in server header */
[class^=header_] [class^=guildIcon]:active {
  pointer-events: var(--boosting);
}

/* emoji picker */
#emoji-picker-tab-panel {
    /* hide react with nitro emojis in vc upsell */
    [class^=tooltipContainer_]:has(> #fancybutton-toggle),
    /* hide super reactions toggle */
    > [class^=header_] > [class^=burstToggle_] {
        display: none;
    }
    #emoji-picker-grid {
        /* nitro dividers */
        [class^=categorySection_][class*=categorySectionNitroDivider] {
            > [class^=nitroTopDividerContainer_],
            > [class^=nitroBottomDivider_] {
                display: none;
            }
        }
        /* nitro locked section */
        [class^=categorySection_][class*=categorySectionNitroLocked] {
            /* make nitro needed emojis b&w */
            filter: grayscale();
            background-color: transparent;
            /* server headers */
            [class^=header_] {
                /* hide nitro icon */
                [class^=headerIcon_]:has(> svg > path) {
                    display: none;
                    /* remove gap */
                    + [class^=headerLabel_] {
                        margin: 0;
                    }
                }
                /* change server names and "Available with Nitro" headers to "Unavailable" */
                [class^=headerLabel_] {
                    font-size: 0;
                    &::before {
                        font-size: 12px;
                        content: "Unavailable";
                    }
                }
            }
            /* disable clicking on unavailable emojis */
            [class^=emojiListRow_] {
                pointer-events: none;
            }
            /* make unavailable emojis have matching styles */
            [class^=lockedEmoji_] {
                background: hsl(var(--black-500-hsl)/.6);
                filter: brightness(50%);
            }
            /* hide nitro needed emojis in search results */
            #emoji-picker-tab-panel #emoji-picker-grid [class^=listItems_][style="inset: 8px 0px;"] > & {
                display: none;
            }
        }
        /* disable clicking on unavailable emojis and make them b&w */
        [class^=emojiListRow_] [class^=emojiItem_]:has([class^=emojiLockIconContainer_]) {
            pointer-events: none;
            background-color: transparent;
            filter: grayscale();
        }
        /* nitro upsell warning  */
        [class^=upsellContainer_] {
            display: none;
        }
    }
    > [class^=wrapper_] > [class^=scroller_] {
        /* disable scrolling on the server shortcuts */
        &:has(> [class^=listItems_] [class^=categoryItemLockIconContainer_]) {
            overflow-y: hidden !important;
        }
        /* hide unavailable emoji server shortcuts */
        > [class^=listItems_] > div:has([class^=categoryItemLockIconContainer_]) {
            display: none;
        }
    }
}

/* sticker picker */
#sticker-picker-tab-panel > #sticker-picker-grid {
    [class^=stickerNode_][class*=stickerUnsendable_] {
        [class^=wrapper_]:has(+ [class^=row_] [class^=sticker_] &) [class^=header_] {
            filter: grayscale();
            /* change server names and "Available with Nitro" headers to "Unavailable" */
            [class^=headerLabel_] {
                font-size: 0;
                &::before {
                    font-size: 12px;
                    content: "Unavailable";
                }
            }
        }
        /* unavailable stickers */
        [class^=sticker_]:has(&) {
            pointer-events: none;
            background: hsl(var(--black-500-hsl)/.6);
            filter: brightness(50%);
        }
    }
}

/* popouts */
[id^=popout_] {
    /* change avatar decoration option when clicking pfp in profiles tab */
    #user-settings-change-avatar-change-avatar-decoration,
    /* super reaction hover tooltips */
    [class^=reactionTooltip_] > [class^=burstReactionTooltipPrompt] {
        display: none;
    }
    /* soundboard */
    [class^=picker_][role=dialog] {
        /* nitro upsell container */
        > [class^=gridNoticeWrapper_]:has(> [class^=premiumFeatureBorder_]) {
            display: none;
        }
        /* sounds */
        > [class^=listWrapper_] > [class^=wrapper_] > [class^=scroller_] > [class^=listItems_] {
            /* server header with disabled sounds */
            > [class^=sectionContainer_]:has(+ ul > li > [class^=soundButton_][class*=premiumDisabled_]) {
                filter: grayscale();
                /* change unavailable server names to "Unavailable"  */
                > [class^=sectionHeader_] > [class^=sectionHeaderContent_] > h1 {
                    font-size: 0;
                    &::before {
                        content: "Unavailable";
                        font-size: 12px;
                    }
                }
            }
            /* prevent clicking on unavailable sounds */
            > ul > li:has(> [class^=soundButton_][class*=premiumDisabled_]) {
                filter: grayscale();
                pointer-events: none;
            }
        }
    }
}

/* chat input */
[class^=channelTextArea_] {
    /* gift button */
    [class^=buttons_] > button,
    /* "Send longer Messages with Discord Nitro!" */ 
    > [class^=characterCount_] [class*=upsell_] {
        display: none;
    }
}

/* chat */
[data-list-id=chat-messages] {
    /* super reactions */
    [class^=reaction_] > [class^=reactionInner_]:has(> [class^=burstGlow_]) {
        pointer-events: none;
        /* hide animation effect */
        [class^=effectsWrapper_] {
            display: none;
        }
    }
}

/* popup when clicking on emoji/sticker */
[class^=popoutContainer_] > [class^=emojiSection_] {
    /* nitro upselling description when clicking on emoji/sticker */
    > [class^=flex_] > [class^=flex_] > [class^=defaultColor_][data-text-variant="text-sm/normal"],
    /* "Get Nitro" button */
    > [class^=shinyButton_] {
        display: none;
    }
}

/* dialog popups */
[class^=focusLock_][role=dialog] > [class^=root_] {
    /* text */
    > [class^=content_] {
        > [class^=defaultColor_] {
            /* paragraphs */
            > p {
                /* has a link, likely to the nitro page (long message length upselling description,100 server limit upselling description) */
                &:has(> a,> [class^=learnMoreLink_]) {
                    display: none;
                }
            }
            /* large file upload upselling description */
            > [class^=body_] > [class^=defaultColor_] {
                display: none;
            }
        }
        /* remove gif option from profile pic upload option */
        [class^=imagePickerContainer_] > [class^=optionBox_]:has([class^=nitroWheel]) {
            display: none;
        }
    }
    /* nitro button */
    [class^=shinyButton_] {
        display: none;
    }
    /* nuke huge upsell popup on login - images #1-2 */
    &:has(> [class^=content_] > [class^=shinyButton_]) {
        /* restyle background */
        background: var(--background-primary);
        /* restyle close button */
        > button[class^=closeButton_] {
            opacity: 1;
            > [class^=contents_] {
                height: 24px;
                zoom: 112.5%;
            }
        }
        /* hide most of the upsell */
        > svg,
        > [class^=modalTopPill][class*=freeTrial] {
            display: none;
        }
        > [class^=content_]:has(> [class^=shinyButton_]) {
            > h2[class^=defaultColor_][class*=subHeader_] > a,
            > [class]:not(h2[class^=defaultColor_][class*=subHeader_]) {
                display: none;
            }
            /* replace sub header with informative text */
            > h2[class^=defaultColor_][class*=subHeader_] {
                visibility: hidden;
                display: flex;
                align-items: center;
                &::after {
                    visibility: visible !important;
                    content: "There was previously a Nitro advertisement here. Move along.";
                    position: absolute;
                    top: 42.5%;
                }
            }
        }
    }
    /* "you could be paying less!" in server boost payment modal */
    > .paymentModalContent [class^=upsellFooter_] {
        display: none;
    }
}


/* UNABLE TO TEST ATM */
/* Birthday avatar decoration upselling */
[class^=birthdayFeatureBorder],
/* Halloween avatar decoration upselling */
[class^=container]:has([class^=falloweenArtContainer_]),
/* Christmas gifting button */
[class*=sansAttachButton] > [class^=buttons] > [class^=container],
/* Snowsgiving bs */
a[href*="/snowsgiving"] {
    display: none;
}
/* idk where this is */
/* uspell on role badge click */
[id^=popout_] button:has([class^=boosterBadge_]) {
  display: none;
}

/
/
/
/
/
/
/*Spotify Player*/
/
/
/
/
/
/

/* BetterSpotifyPlayer */
/* a spotify icon snippet */
#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  padding: 7px;
  margin-left: -17px;
  margin-top: 2px;
  content: '';
  background-color: var(--header-primary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
  position: absolute;
}
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
   background-color: var(--header-secondary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
}

#vc-spotify-song-title::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}
/* */

/* */
#vc-spotify-player {
  height:50px; 
  background: transparent !important;
  position: relative;
  transition: height 0.4s ease-out;
  padding: 7px!important;
  padding-top: 8px !important;
  overflow: hidden;
}
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
  height: 310px;
}
#vc-spotify-player:hover {
  height: 115px;
}
#vc-spotify-progress-bar, .vc-spotify-button-row {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
#vc-spotify-player:hover #vc-spotify-progress-bar,
#vc-spotify-player:hover .vc-spotify-button-row {
  opacity: 1;
}
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) #vc-spotify-progress-bar,
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) .vc-spotify-button-row {
  opacity: 1;
}
#vc-spotify-player::before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
  background: var(--vc-spotify-track-image);
  background-size: cover;
  background-position: center;
  opacity: 0;
}
#vc-spotify-player:hover::before,
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper)::before {
  opacity: 1;
  filter: brightness(50%);
}
#vc-spotify-progress-bar {
  margin: 11px 0 7px;
}
#vc-spotify-info-wrapper > img {
  height: 100%;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
#vc-spotify-player:not(:has(#vc-spotify-album-expanded-wrapper)):hover #vc-spotify-album-image {
  opacity: 0;
}
#vc-spotify-album-image:hover {
  filter: none;
}
#vc-spotify-info-wrapper #vc-spotify-titles {
  margin-left: 15px;
  transition: margin-left 0.4s ease-out;
}
#vc-spotify-player:hover #vc-spotify-titles  {
  margin-left: -42px;
}
#vc-spotify-player #vc-spotify-titles .size14_e8b2ab {
  font-size: 13px;
}
#vc-spotify-song-title::before, #vc-spotify-song-title + div::before, #vc-spotify-song-title + div + div::before {
  background-color: var(--interactive-active);
}
#vc-spotify-player .colorStandard_d1aa77 {
  color: var(--interactive-active);
}
.vc-spotify-artist, .vc-spotify-album {
  color: var(--interactive-normal)
}
#vc-spotify-player .bar_c7a159 {
  background-color: color-mix(in srgb, var(--white-500), transparent 75%);
}
#vc-spotify-player .barFill_c7a159 {
  background-color: var(--interactive-active);
}
#vc-spotify-progress-bar>[class^=slider] [class^=grabber] {
  background-color: var(--interactive-active);
  border-color: var(--interactive-active);
  width: 12px !important;
  height: 12px !important;
  margin-top: 3px;
  opacity: 1 !important;
}
.vc-spotify-progress-time {
  top: 12px;
}
.vc-spotify-button {
  color: var(--interactive-active);
}
.vc-spotify-button:hover {
  background-color: color-mix(in srgb, var(--interactive-active), transparent 75%);
}
.vc-spotify-button.vc-spotify-shuffle-on {
  color: var(--green-360);
}
.vc-spotify-button.vc-spotify-shuffle-on:hover {
  background-color: color-mix(in srgb, var(--green-360), transparent 75%);;
} 
/* */
/* adding this to force update */

/
/
/
/
/
/
/*Extra Person CSS*/
/
/
/
/
/
/

/* Disable Join Server and Discovery Icon */
div.listItem_c96c45:has(div[aria-label="Explore Discoverable Servers"]), 
div.tutorialContainer_c96c45:has(div[data-list-item-id="guildsnav___create-join-button"]) 
{display: none !important;}



/* Main icons Transparent :hover */
:root:root {
    --accent-h: 235%;
    --accent-s: 0%;
    --accent-l: 0%;

    --brand-100-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 13));
    --brand-130-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 12));
    --brand-160-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 11));
    --brand-200-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 10));
    --brand-230-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 9));
    --brand-260-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 8));
    --brand-300-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 7));
    --brand-330-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 6));
    --brand-345-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 5));
    --brand-360-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 4));
    --brand-400-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 3));
    --brand-430-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + (3.6% * 2));
    --brand-460-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) + 3.6);
    --brand-500-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) var(--accent-l);
    --brand-530-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - 3.6);
    --brand-560-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 2));
    --brand-600-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 3));
    --brand-630-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 4));
    --brand-660-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 5));
    --brand-700-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 6));
    --brand-730-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 7));
    --brand-760-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 8));
    --brand-800-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 9));
    --brand-830-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 10));
    --brand-860-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 11));
    --brand-900-hsl: var(--accent-h) calc(var(--saturation-factor, 1)*var(--accent-s)) calc(var(--accent-l) - (3.6% * 12));
}



/*Support icon in toolbar*/
.toolbar_fc4f04 .anchor_af404b[href="https://support.discord.com"],
/* Bell icon/notification settings*/
.iconWrapper_fc4f04:has(path[d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1"],
/*Add friends to dm*/
path[d^="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5"],
/*enable camera in dm*/
path[d^="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3"]){ display: none; 
}


/* Remove Activty Button*/
.buttonContainer_b6e2f9 {
  display: none;
}


/* Remove Small Dots and Reply Arrow*/
.buttons_d5deea {
 display: none;
}


/* Remove Share Screen Left*/
.actionButtons_adcaac {
 display: none;
}


/* Remove Search Convo*/
.searchBar_f0963d {
 display: none;
}


/* Add "@" before Username */
[class*=userTag_] [class*=userTagUsername_]:before {
  color: white(--text-muted);
  content: "@";
}


/* Search Bar Compact */
.search_ff5f90{order:var(--search-order, 1)}.search_ff5f90 .searchBar_a46bef{background:rgba(0,0,0,0)}.search_ff5f90 .searchBar_a46bef:not(:focus-within,:hover,:has(.clear_effbe2)){width:24px}.search_ff5f90 .searchBar_a46bef:not(:focus-within,:hover,:has(.clear_effbe2)) .iconContainer_effbe2{width:24px;height:24px;cursor:pointer}


/* Flip Camera */
.mirror_a5989d {
    transform: scaleX(1);
}

/* Hide Stuff */
[aria-label="Threads"],
[aria-label="Notification Settings"],
[aria-label="Hide Member List"],
[aria-label="Inbox"],
[aria-label="Help"] {
  display: none
}


/* Hide Noise Suppression Icon In Call*/
.button_adca65:has(path[d^=" M0,-5 C0,-5 0,-5 0,-5 C0.5519999861717224"]){
  display: none
}


/* Hide Server Banner */
 .animatedContainer_fd6364,
.content_eed6a8 [style="height: 84px;"]{
    display: none
}


/* Hide Sticker */
:root {
  --sticker: flex;
}

[class*=form-] [class*=button_][aria-label="Open sticker picker"] {
  display: var(--sticker);
}

:root {
    /* Chat Area */
    --sticker: none; 
}


/* Reactions Hover */
[class^=reaction_]:not(:has(.burstGlow_ec6b19)) .emoji {
    transition: transform 0.6s ease;
    transform-style: preserve-3d; /* Enables 3D transformations */
}

[class^=reaction_]:not(:has(.burstGlow_ec6b19)):hover .emoji {
    animation: flipAndScale 0.6s forwards;
}

@keyframes flipAndScale {
    from {
        transform: rotateY(0deg) scale(1);
    }
    to {
        transform: rotateY(360deg) scale(1.5);
    }
}



/* Call Icon Buttons */
.wrapper_b6e2f9 button{
    background-color: rgba(197, 197, 197, 0.685) !important; 
}
.wrapper_b6e2f9 div foreignObject  {
    mask-image:none;
}
.wrapper_b6e2f9 .contextMenuNub_ef18ee{
    display:none;
}




/* Hide Avatar Decoration */
[class*=avatardecoration i]{
    display: none;
}


/*Shake animation hover to the text area when you don't have permission !*/

/* Define the shake animation */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-10px); }
  40%, 80% { transform: translateX(10px); }
}


/* Initial state of the element */
[class*=channelTextAreaDisabled] {
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
}


/* Hover state to trigger the shake animation */
[class*=channelTextAreaDisabled]:hover {
  animation: shake 0.5s ease-in-out;
}

/* Server shortcuts as Icons */
.basicChannelRowLink_d8bfb3 .name_d8bfb3{
  display: none;
}
li:not([class]):has(.basicChannelRowLink_d8bfb3),
div:not([class]):has(.basicChannelRowLink_d8bfb3) {
    width: min-content;
    display: inline-flex;
}
.basicChannelRowLink_d8bfb3 .icon_d8bfb3{
  margin-left: 0px;
  margin-top: 0px;
  scale: 1;
}

/* ----- Hide Nitro and Shop ----- */
 [role="listitem"]:has([href="/store"]) {display: none} 
 [role="listitem"]:has([href="/shop"]) {display: none}
/** Hide apps button next to chatbar */
[class^=channelAppLauncher] {
  display: none ; 
}

/**
* @name RecolorAddFriendsTab
* @author krystalskullofficial
* @version 2.0
* @description Recolors the Add Friends Tab on discord *(because being able to add people isnt that important)*
*/
[data-tab-id=ADD_FRIEND]{
    background-color: var(--background-color) !important;
    color: var(--interactive-normal) !important;
}
[data-tab-id=ADD_FRIEND]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]{
    background-color: var(--background-modifier-selected) !important;
    color: var(--interactive-active) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-active) !important;
}


/* Make Delete/Logout Buttons Red */
[class^=item_][data-tab-id="DELETE"],
[class^=item_][data-tab-id="logout"] {
    color: var(--info-danger-foreground) !important;
}
[class^=item_][data-tab-id="DELETE"]:hover,
[class^=item_][data-tab-id="logout"]:hover {
    background-color: var(--info-danger-background) !important;
}

/* Aligns chat box with the bottom of the screen and user controls */
:is(main,section)[class^=chatContent] > form,
form > div[class^=submitContainer] {
  /* align chatbox */
  padding: 2px;
  > div > div[class^=channelTextArea] {
    margin: 0px !important;
    > div[class^=scrollableContainer] {
      min-height: 49px;
      padding-top: 4px;
      border-radius: 10px;
    }
  }
  /* align forum channel thing */
  > div { margin-bottom: 0px; border-radius: 0px; }
  
  /* move slowmode/typing indicator to match */
  > div[class^=typing] {
    top: -24px;
    right: calc(var(--custom-index-scrollbar-margin) * 2 + var(--custom-index-scrollbar-width));
    margin-left: auto;
    width: fit-content;
    padding-left: 2px;
    padding-right: 9px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--channeltextarea-background);
  }
  /* make scrollbar meet chatbox */
  &::after { display: none; }

  /* fix replies */
  > div > div > div[class^=attachedBars] {
    min-height: unset !important;
    padding-bottom: 4px;
  }
}


/* Centered Voice Controls */
.bottomControls_dd069c > .flex_dc333f:is(:first-child, :last-child) {
  flex: 1 1 50% !important;
}
.bottomControls_dd069c > .flex_dc333f:nth-child(2) {
  flex: 0 1 auto !important;
}


/* Don't show me activity */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}
