/*Extra Person CSS*/


@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/extracss2.css");
@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/chatuserarea.css");


/* Hide Stuff */
[aria-label="Threads"],
[aria-label="Notification Settings"],
[aria-label="Hide Member List"],
[aria-label="Inbox"],
[aria-label="Help"] {
  display: none
}


/* Disable Join Server and Discovery Icon */
/**
* @name hidePinDiscovery
* @author krystalskullofficial
* @version 1.0
* @description Hides the new pinned Discovery Icon
*/
[class*=unreadMentionsFixedFooter_]{bottom: 0px !important;}
[class^=footer_]
{display: none; }
div.listItem__650eb:has(div[aria-label="Explore Discoverable Servers"]), 
div.tutorialContainer__650eb:has(div[data-list-item-id="guildsnav___create-join-button"]) 
{display: none !important;
}


/*Support icon in toolbar*/
.toolbar__9293f .anchor_edefb8[href="https://support.discord.com"],
/* Bell icon/notification settings*/
.iconWrapper__9293f:has(path[d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1"],
/*Add friends to dm*/
path[d^="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5"],
/*enable camera in dm*/
path[d^="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3"]){ display: none; 
}


/* Remove Activty Button*/
.buttonContainer__1405b {
  display: none;
}
.tutorialContainer__650eb,
.tutorialContainer__650eb+div{display: none;
}


/* Remove Share Screen Left*/
.actionButtons_e131a9 {
 display: none;
}


/* Add "@" before Username */
[class*=userTag_] [class*=userTagUsername_]:before {
  color: white(--text-muted);
  content: "@";
}


/* Flip Camera */
.mirror__48b20 {
    transform: scaleX(1);
}


/* Hide Noise Suppression Icon In Call*/
.button__67645:has(path[d^=" M0,-5 C0,-5 0,-5 0,-5 C0.5519999861717224"]){
  display: none
}

/* Reactions Hover */
[class^=reaction_]:not(:has(.burstGlow__23977)) .emoji {
    transition: transform 0.6s ease;
    transform-style: preserve-3d; 
  
/* Enables 3D transformations */
-79,363 +79,3 @@ path[d^="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3"]){ display: none;
    transition: transform 0.6s ease;
    transform-style: preserve-3d; /* Enables 3D transformations */
}
[class^=reaction_]:not(:has(.burstGlow__23977)):hover .emoji {
    animation: flipAndScale 0.6s forwards;
}
@keyframes flipAndScale {
    from {
        transform: rotateY(0deg) scale(1);
    }
    to {
        transform: rotateY(360deg) scale(1.5);
    }
}
/* Call Icon Buttons */
.wrapper__1405b button{
    background-color: rgba(197, 197, 197, 0.685) !important; 
}
.wrapper__1405b div foreignObject  {
    mask-image:none;
}
.wrapper__1405b .contextMenuNub_f1ceac{
    display:none;
}
/*Shake animation hover to the text area when you don't have permission !*/
/* Define the shake animation */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-10px); }
  40%, 80% { transform: translateX(10px); }
}
/* Initial state of the element */
[class*=channelTextAreaDisabled] {
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
}
/* Hover state to trigger the shake animation */
[class*=channelTextAreaDisabled]:hover {
  animation: shake 0.5s ease-in-out;
}
/* Server shortcuts as Icons */
.basicChannelRowLink__2ea32 .name__2ea32{
  display: none;
}
li:not([class]):has(.basicChannelRowLink__2ea32),
div:not([class]):has(.basicChannelRowLink__2ea32) {
    width: min-content;
    display: inline-flex;
}
.basicChannelRowLink__2ea32 .icon__2ea32{
  margin-left: 0px;
  margin-top: 0px;
  scale: 1;
}

  
/**
* @name RecolorAddFriendsTab
* @author krystalskullofficial
* @version 2.0
* @description Recolors the Add Friends Tab on discord *(because being able to add people isnt that important)*
*/
[data-tab-id=ADD_FRIEND]{
    background-color: var(--background-color) !important;
    color: var(--interactive-normal) !important;
}
[data-tab-id=ADD_FRIEND]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]{
    background-color: var(--background-modifier-selected) !important;
    color: var(--interactive-active) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-active) !important;
}
/* Make Delete/Logout Buttons Red */
[class^=item_][data-tab-id="DELETE"],
[class^=item_][data-tab-id="logout"] {
    color: var(--info-danger-foreground) !important;
}
[class^=item_][data-tab-id="DELETE"]:hover,
[class^=item_][data-tab-id="logout"]:hover {
    background-color: var(--info-danger-background) !important;
}
/* Centered Voice Controls */
.bottomControls_bfe55a > .flex__7c0ba:is(:first-child, :last-child) {
  flex: 1 1 50% !important;
}
.bottomControls_bfe55a > .flex__7c0ba:nth-child(2) {
  flex: 0 1 auto !important;
}
/* Don't show Chat Apps   */
.visual-refresh .channelAppLauncher_e6e74f, .trailing_c38106 [href="https://support.discord.com"]{display: none;
}
