/* Image Activity Icon */
._06ab41fd2ef7af3f-hoverButtonGroup {
    display: none
}
/* Change the first path definition of the volume icon SVG to be the moving part of my new animated SVG */
.c69b6db0641110f6-containerDefault:has([class*="voiceUser_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M15.16"] {
    d: path("M15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z");
    animation-name: volume-icon-anim;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}
/* Change the second path definition of the volume icon SVG to be the static part of my new animated SVG */
.c69b6db0641110f6-containerDefault:has([class*="voiceUser_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M12"] {
    d: path("M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.16 16.51c-.57.28-1.16-.2-1.16-.83v-.14c0-.43.28-.8.63-1.02a3 3 0 0 0 0-5.04c-.35-.23-.63-.6-.63-1.02v-.14c0-.63.59-1.1 1.16-.83a5 5 0 0 1 0 9.02Z");
}
/* change color of animation to match Discord's "Live" icon when someone is live-streaming */
.c69b6db0641110f6-containerDefault:has([class*="live_"], [class*="baseShapeRound_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M15.16"] {
    animation-name: volume-icon-anim-live;
}
.c69b6db0641110f6-containerDefault:has([class*="live_"], [class*="baseShapeRound_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M12"] {
    color: var(--red-400);
}
/* Animation when there is someone in a voice channel */
@keyframes volume-icon-anim {
    0%, 100%  {color: transparent;}
    50%  {color: var(--currentColor);}
}
/* Animation when there is someone live-streaming in a voice channel */
@keyframes volume-icon-anim-live {
    0%, 100% {color: transparent;}
    50%  {color: var(--red-400);}
}
/* White Noti Lines */
._581051df43c5ebb6-item{display:none}
/* User Area Icon Recolor */
._5e434347c823b592-panels ._5eb9b3cc7c2b1ce8-lottieIcon :not(defs *)[fill][fill-opacity] {
  fill: rgb(255, 255, 255);
}
._5eb9b3cc7c2b1ce8-lottieIcon > svg > g > g > g:nth-child(1) > g > g:nth-child(2) > g:nth-child(2) > path {
  stroke: rgb(255, 255, 255);
}
* Change voice activity indicator glow color */
.theme-dark [class*=avatarSpeaking_] {
    box-shadow: 0 0 0 2px #ffffff; /* Change #color to your desired border color */
}
/*Other People Speaking Icons Inside Voice Channel*/
._2f4f7eb58b61c328-border._2f4f7eb58b61c328-speaking {
    box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #ffffff), inset 0 0 0 3px var(--black-500);
}
/*Other People Speaking Icon In The List When Speaking*/
.avatarSpeaking__07f91 {
    box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #ffffff), inset 0 0 0 3px var(--background-secondary);
}
/*Your Icon When Speaking*/
#app-mount .avatarSpeaking__44b0c {
    box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #ffffff), inset 0 0 0 3px var(--background-secondary);
}

/* Red Server Noti Badge Removed */
[class^="listItem_"] [class^="wrapper_"] {
    > [class^="lowerBadge_"] {
        display: none!important;
    }
    > svg > mask > use[href*="lower"] {
        display: none;
    }
}
/* Server Tooltop and Entire Server Text */
[class^=tooltip] /* Allow the server tooltip to fit the entire server name in one line */ {
    max-width: unset !important; /* allow it to be larger */ }
/* Make user profiles larger  */ 
div[aria-label="User Profile Modal"] {
  transform: scale(1.00);
  > div[class^="root_"] {
    max-height: 60rem;
    > div {
      height: 100%;
    }
  }
}
/* Server Round */
.cc5dd25190031396-wrapper {
    ._6e9f8dce4cc18de3-icon {
        border-radius: 100px!important;
    }
}
/* Yapping Text */
.b8880176888cc928-typingDots>.b8880176888cc928-ellipsis+.b8880176888cc928-text {
  font-size: 0;
  height: 16px;
  &>strong {
    font-size: 12px;
    &:last-child::after {
      content: " is yapping...";
      font-weight: 500;
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
      font-weight: 500;
    }
    &:not(:last-child)::after {
      content: " and ";
      font-weight: 500;
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}
    .f34534e8a5d3ca64-icon._48112cbe77dc5022-folderPreviewGuildIcon { border-radius: 50% !important 
}
/* Transparent Folders Left */
._48112cbe77dc5022-folderPreview {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    height: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
    width: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
    align-items: center;
    justify-content: center;
}
.expandedFolderIconWrapper__48112 > svg:has(>path[d="M2 5a3 3 0 0 1 3-3h3.93a2 2 0 0 1 1.66.9L12 5h7a3 3 0 0 1 3 3v11a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Z"]) {
    scale: 10;
}
.expandedFolderIconWrapper__48112::after,
._48112cbe77dc5022-folderPreview::after {
    content: "";
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    position: absolute;
    clip-path: path("M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z");
}
._48112cbe77dc5022-folderPreview > ._48112cbe77dc5022-folderPreviewGuildIcon {
    opacity: .4;
    filter: blur(2px);
}
.theme-dark .b18fe29d6fe8dd82-hiddenVisually[aria-expanded="false"] {
    background-color: #000000;
}
.theme-light .b18fe29d6fe8dd82-hiddenVisually[aria-expanded="false"] {
    background-color: #747474;
}
/* change attachment button svg back (by @mateo_.123) */
._0923f156a0410684-attachButton path {
    d: path("M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm0-17a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4H7a1 1 0 1 1 0-2h4V7a1 1 0 0 1 1-1Z");
}
/* Hide Server Banner & Server Boost Progress */
 .f37cb1984c371ee5-animatedContainer,
._99f8cc7ad4790ce9-content [style="height: 84px;"]{
    display: none
}
div[id="channels"] > ul[class^="content"] div:has(div[class^="progress"]) {
    display: none;
}

/* Hide Nitro, Shop, and Quests in the DM sidebar */
nav[class*="privateChannels" i] [data-list-item-id*="nitro" i],
nav[class*="privateChannels" i] [data-list-item-id*="shop" i],
nav[class*="privateChannels" i] [data-list-item-id*="quests" i],
nav[class*="privateChannels" i] [aria-label="Quests" i],
nav[class*="privateChannels" i] [aria-label="Shop" i],
nav[class*="privateChannels" i] [aria-label="Nitro" i] {
    display: none !important;
}


/* Hide Find or start a conversation */
div[class^="e6b7699ce8339e1c-searchBar"] { display: none; }
div[class^="e6b7699ce8339e1c-sectionDivider"] { display: none; }

/* Hide Help and Apps Launcher Buttons */
a:has([d^="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98"]),
[class*=button_]:has([d^=" M1.5130000114440918,-5.5920000076293945 C0"]), #channel-attach-SLASH_COMMAND {
  display: none;
}


/* Hide Active Now section */
[class*="nowPlayingColumn"],
[class*="activeNow"] {
    display: none !important;
}


/* Hides Nitro Panel in Settings */
nav > ul:has(> div[data-settings-sidebar-item="nitro_panel"]) {
    display: none;
}


/* 1. Hide the Banner Image Container */
[class*="sidebarList"]:has([data-has-banner="true"]) [class*="animatedContainer"] {
    display: none !important;
}

/* 2. Remove the empty space/gap at the top of the channel list */
[class*="sidebarList"]:has([data-has-banner="true"]) [class*="content"] > div[style*="height"] {
    display: none !important;
}

/* Boost goals */
div[class*="container"][class*="containerWithMargin"]:has([aria-label*="Boost Goal"]),
div[class*="_0d0f9ddd12a3ace3"] {
    display: none !important;
}
