/*Extra Person CSS*/


@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/chatuserarea.css");


/* Hide Stuff */
[aria-label="Threads"],
[aria-label="Notification Settings"],
[aria-label="Hide Member List"],
[aria-label="Inbox"],
[aria-label="Help"] {
  display: none
}


/* Disable Join Server and Discovery Icon */
/**
* @name hidePinDiscovery
* @author krystalskullofficial
* @version 1.0
* @description Hides the new pinned Discovery Icon
*/
div[class^="_650eb104245d257b-tutorialContainer"] { display: none; }
._650eb104245d257b-tutorialContainer + ._650eb104245d257b-listItem {display: none;}


/*Support icon in toolbar*/
.toolbar__9293f .anchor_edefb8[href="https://support.discord.com"],
/* Bell icon/notification settings*/
.iconWrapper__9293f:has(path[d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1"],
/*Add friends to dm*/
path[d^="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5"],
/*enable camera in dm*/
path[d^="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3"]){ display: none; 
}


/* Remove Activty Button*/
.buttonContainer__1405b {
  display: none;
}
.tutorialContainer__650eb,
.tutorialContainer__650eb+div{display: none;
}


/* Remove Share Screen Left*/
.actionButtons_e131a9 {
 display: none;
}


/* Add "@" before Username */
[class*=userTag_] [class*=userTagUsername_]:before {
  color: white(--text-muted);
  content: "@";
}


/* Flip Camera */
.mirror__48b20 {
    transform: scaleX(1);
}


/* Hide Noise Suppression Icon In Call*/
.button__67645:has(path[d^=" M0,-5 C0,-5 0,-5 0,-5 C0.5519999861717224"]){
  display: none
}

/* Reactions Hover */
[class^=reaction_]:not(:has(.burstGlow__23977)) .emoji {
    transition: transform 0.6s ease;
    transform-style: preserve-3d; 
  
/* Enables 3D transformations */
-79,363 +79,3 @@ path[d^="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3"]){ display: none;
    transition: transform 0.6s ease;
    transform-style: preserve-3d; /* Enables 3D transformations */
}
[class^=reaction_]:not(:has(.burstGlow__23977)):hover .emoji {
    animation: flipAndScale 0.6s forwards;
}
@keyframes flipAndScale {
    from {
        transform: rotateY(0deg) scale(1);
    }
    to {
        transform: rotateY(360deg) scale(1.5);
    }
}
/* Call Icon Buttons */
.wrapper__1405b button{
    background-color: rgba(197, 197, 197, 0.685) !important; 
}
.wrapper__1405b div foreignObject  {
    mask-image:none;
}
.wrapper__1405b .contextMenuNub_f1ceac{
    display:none;
}
/*Shake animation hover to the text area when you don't have permission !*/
/* Define the shake animation */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-10px); }
  40%, 80% { transform: translateX(10px); }
}
/* Initial state of the element */
[class*=channelTextAreaDisabled] {
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
}
/* Hover state to trigger the shake animation */
[class*=channelTextAreaDisabled]:hover {
  animation: shake 0.5s ease-in-out;
}
/* Server shortcuts as Icons */
.basicChannelRowLink__2ea32 .name__2ea32{
  display: none;
}
li:not([class]):has(.basicChannelRowLink__2ea32),
div:not([class]):has(.basicChannelRowLink__2ea32) {
    width: min-content;
    display: inline-flex;
}
.basicChannelRowLink__2ea32 .icon__2ea32{
  margin-left: 0px;
  margin-top: 0px;
  scale: 1;
}

  
/**
* @name RecolorAddFriendsTab
* @author krystalskullofficial
* @version 2.0
* @description Recolors the Add Friends Tab on discord *(because being able to add people isnt that important)*
*/
[data-tab-id=ADD_FRIEND]{
    background-color: var(--background-color) !important;
    color: var(--interactive-normal) !important;
}
[data-tab-id=ADD_FRIEND]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]{
    background-color: var(--background-modifier-selected) !important;
    color: var(--interactive-active) !important;
}
[data-tab-id=ADD_FRIEND][aria-selected=true]:hover{
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-active) !important;
}
/* Make Delete/Logout Buttons Red */
[class^=item_][data-tab-id="DELETE"],
[class^=item_][data-tab-id="logout"] {
    color: var(--info-danger-foreground) !important;
}
[class^=item_][data-tab-id="DELETE"]:hover,
[class^=item_][data-tab-id="logout"]:hover {
    background-color: var(--info-danger-background) !important;
}
/* Centered Voice Controls */
.bottomControls_bfe55a > .flex__7c0ba:is(:first-child, :last-child) {
  flex: 1 1 50% !important;
}
.bottomControls_bfe55a > .flex__7c0ba:nth-child(2) {
  flex: 0 1 auto !important;
}
/* Don't show Chat Apps   */
.visual-refresh .channelAppLauncher_e6e74f, .trailing_c38106 [href="https://support.discord.com"]{display: none;
}

/* Image Activity Icon */
._06ab41fd2ef7af3f-hoverButtonGroup {
    display: none
}
/* Change the first path definition of the volume icon SVG to be the moving part of my new animated SVG */
.c69b6db0641110f6-containerDefault:has([class*="voiceUser_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M15.16"] {
    d: path("M15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z");
    animation-name: volume-icon-anim;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}
/* Change the second path definition of the volume icon SVG to be the static part of my new animated SVG */
.c69b6db0641110f6-containerDefault:has([class*="voiceUser_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M12"] {
    d: path("M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.16 16.51c-.57.28-1.16-.2-1.16-.83v-.14c0-.43.28-.8.63-1.02a3 3 0 0 0 0-5.04c-.35-.23-.63-.6-.63-1.02v-.14c0-.63.59-1.1 1.16-.83a5 5 0 0 1 0 9.02Z");
}
/* change color of animation to match Discord's "Live" icon when someone is live-streaming */
.c69b6db0641110f6-containerDefault:has([class*="live_"], [class*="baseShapeRound_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M15.16"] {
    animation-name: volume-icon-anim-live;
}
.c69b6db0641110f6-containerDefault:has([class*="live_"], [class*="baseShapeRound_"]) ._2ea32c412048f708-iconContainer svg._2ea32c412048f708-icon path[d^="M12"] {
    color: var(--red-400);
}
/* Animation when there is someone in a voice channel */
@keyframes volume-icon-anim {
    0%, 100%  {color: transparent;}
    50%  {color: var(--currentColor);}
}
/* Animation when there is someone live-streaming in a voice channel */
@keyframes volume-icon-anim-live {
    0%, 100% {color: transparent;}
    50%  {color: var(--red-400);}
}
/* White Noti Lines */
._581051df43c5ebb6-item{display:none}
/* User Area Icon Recolor */
._5e434347c823b592-panels ._5eb9b3cc7c2b1ce8-lottieIcon :not(defs *)[fill][fill-opacity] {
  fill: rgb(255, 255, 255);
}
._5eb9b3cc7c2b1ce8-lottieIcon > svg > g > g > g:nth-child(1) > g > g:nth-child(2) > g:nth-child(2) > path {
  stroke: rgb(255, 255, 255);
}
* Change voice activity indicator glow color */
.theme-dark [class*=avatarSpeaking_] {
    box-shadow: 0 0 0 2px #ffffff; /* Change #color to your desired border color */
}
/*Other People Speaking Icons Inside Voice Channel*/
._2f4f7eb58b61c328-border._2f4f7eb58b61c328-speaking {
    box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #ffffff), inset 0 0 0 3px var(--black-500);
}
/*Other People Speaking Icon In The List When Speaking*/
.avatarSpeaking__07f91 {
    box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #ffffff), inset 0 0 0 3px var(--background-secondary);
}
/*Your Icon When Speaking*/
#app-mount .avatarSpeaking__44b0c {
    box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #ffffff), inset 0 0 0 3px var(--background-secondary);
}
/* Red Server Noti Badge Removed */
[class^="listItem_"] [class^="wrapper_"] {
    > [class^="lowerBadge_"] {
        display: none!important;
    }
    > svg > mask > use[href*="lower"] {
        display: none;
    }
}
/* Server Tooltop and Entire Server Text */
[class^=tooltip] /* Allow the server tooltip to fit the entire server name in one line */ {
    max-width: unset !important; /* allow it to be larger */ }
/* Make user profiles larger  */ 
div[aria-label="User Profile Modal"] {
  transform: scale(1.00);
  > div[class^="root_"] {
    max-height: 60rem;
    > div {
      height: 100%;
    }
  }
}
/* Server Round */
.cc5dd25190031396-wrapper {
    ._6e9f8dce4cc18de3-icon {
        border-radius: 100px!important;
    }
}
/* Yapping Text */
.b8880176888cc928-typingDots>.b8880176888cc928-ellipsis+.b8880176888cc928-text {
  font-size: 0;
  height: 16px;
  &>strong {
    font-size: 12px;
    &:last-child::after {
      content: " is yapping...";
      font-weight: 500;
    }
    &:last-child:not(:first-child)::after {
      content: " are yapping...";
      font-weight: 500;
    }
    &:not(:last-child)::after {
      content: " and ";
      font-weight: 500;
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are yapping...";
  }
}
    .f34534e8a5d3ca64-icon._48112cbe77dc5022-folderPreviewGuildIcon { border-radius: 50% !important 
}
/* Transparent Folders Left */
._48112cbe77dc5022-folderPreview {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    height: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
    width: calc(var(--guildbar-folder-size) - var(--custom-folder-preview-padding)* 2);
    align-items: center;
    justify-content: center;
}
.expandedFolderIconWrapper__48112 > svg:has(>path[d="M2 5a3 3 0 0 1 3-3h3.93a2 2 0 0 1 1.66.9L12 5h7a3 3 0 0 1 3 3v11a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Z"]) {
    scale: 10;
}
.expandedFolderIconWrapper__48112::after,
._48112cbe77dc5022-folderPreview::after {
    content: "";
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    position: absolute;
    clip-path: path("M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z");
}
._48112cbe77dc5022-folderPreview > ._48112cbe77dc5022-folderPreviewGuildIcon {
    opacity: .4;
    filter: blur(2px);
}
.theme-dark .b18fe29d6fe8dd82-hiddenVisually[aria-expanded="false"] {
    background-color: #000000;
}
.theme-light .b18fe29d6fe8dd82-hiddenVisually[aria-expanded="false"] {
    background-color: #747474;
}
/* change attachment button svg back (by @mateo_.123) */
._0923f156a0410684-attachButton path {
    d: path("M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm0-17a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4H7a1 1 0 1 1 0-2h4V7a1 1 0 0 1 1-1Z");
}
/* Hide Server Banner & Server Boost Progress */
 .f37cb1984c371ee5-animatedContainer,
._99f8cc7ad4790ce9-content [style="height: 84px;"]{
    display: none
}
div[id="channels"] > ul[class^="content"] div:has(div[class^="progress"]) {
    display: none;
}

/* Hide Nitro, Shop, and Quests in the DM sidebar */
nav[class*="privateChannels" i] [data-list-item-id*="nitro" i],
nav[class*="privateChannels" i] [data-list-item-id*="shop" i],
nav[class*="privateChannels" i] [data-list-item-id*="quests" i],
nav[class*="privateChannels" i] [aria-label="Quests" i],
nav[class*="privateChannels" i] [aria-label="Shop" i],
nav[class*="privateChannels" i] [aria-label="Nitro" i] {
    display: none !important;
}


/* Hide Find or start a conversation */
div[class^="e6b7699ce8339e1c-searchBar"] { display: none; }
div[class^="e6b7699ce8339e1c-sectionDivider"] { display: none; }

/* Hide Help and Apps Launcher Buttons */
a:has([d^="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98"]),
[class*=button_]:has([d^=" M1.5130000114440918,-5.5920000076293945 C0"]), #channel-attach-SLASH_COMMAND {
  display: none;
}


/* Hides Nitro Panel in Settings */
nav > ul:has(> div[data-settings-sidebar-item="nitro_panel"]) {
    display: none;
}
