/*Hide Nitro*/


/*
 * @name Hide Nitro Upselling
 * @description Hide all Nitro upselling in any language
 * @author tom2k
 * @version 2.3.0
*/
/* customization */
:root {
    /* do you want to see your quests/billing/nitro settings? */
    /* yes, I want to see it -> --billing: block !important; */
    /* no, hide it -> --billing: none; */
    --billing: none;
    /* do you want to see server boosting/server shop upsell? */
    /* yes, I want to see it -> --boosting: block !important; */
    /* no, hide it -> --boosting: none; */
    --boosting: none;
}

/* GENERAL HIDE */
/* nitro Button above DM List */
[href="/store"],
/* Shop Button above DM List */
[href="/shop"],
/* nitro upselling in server boosting screen */
[class^=guildStatus_] > [class^=guildBoostCtas_] > [class^=guildBoostCta_][class*=guildBoostCtaSecondary_],
/* nitro icon in stream quality */
[class^=streamQualityIndicator_] [class^=premiumStreamIcon_] {
    display: none;
}
#app-mount > [class^=appAsidePanelWrapper_] > [class^=themeEditor_] {
    /* random side popup theme upsell - image #3 */
    &:has([class^=shinyButton_]),
    /* nitro themes in theme preview editor */
    [class^=selectionGroup_] {
        display: none;
    }
}

/* disable hovering tooltip on nitro icon in stream quality */
[class^=streamQualityIndicator_]:has([class^=premiumStreamIcon_]),
/* disable clicking on anything that redirects to nitro page */
[href="https://discord.com/settings/premium"]:active {
  pointer-events: none;
}

/* settings */
[class^=standardSidebarView_] {
    /* tabs */
    > [class^=sidebarRegion_] > [class^=sidebarRegionScroller_] > nav > [class^=side_] {
        /* billing settings tabs */
        /* header */
        > [class^=header_]:has(+ [class^=premiumTab_]),
        /* nitro */
        > [class^=premiumTab_],
        /* subscriptions */
        > [data-tab-id="Subscriptions"],
        /* gift inventory/quests */
        > [data-tab-id="Library Inventory"],
        /* billing */
        > [data-tab-id="Billing"],
        /* following separator */
        > [data-tab-id="Billing"] + [class^=separator_] {
            display: var(--billing);
        }
        /* user settings boost tab */
        > [data-tab-id="Nitro Server Boost"] {
            display: var(--boosting);
        }
        /* user settings merch */
        > [data-tab-id="merchandise"] {
            display: none;
        }
        /* server settings boost status tab */
        > [class^=serverBoostTabItem_] {
            display: var(--boosting);
            + [class^=separator_] {
                display: var(--boosting);
            }
        }
        /* server settings subscriptions tab */
        > [data-tab-id=ROLE_SUBSCRIPTIONS] {
            display: var(--boosting);
            [class^=sidebar_] [class^=header_]:has(+ &),
            + [class^=separator_] {
                display: var(--boosting);
            }
        }
    }
    /* profiles tab */
    #profile-customization-tab {
        /* "Try Out Nitro!" section */
        > [class^=premiumFeatureBorder],
        [class^=limitedFeatureBorder],
        /* unique server profiles overlay */
        [class^=upsellOverlayContainer_],
        /* shop upselling */
        > [class^=container_][style^="background-image:"] {
            display: none;
        }
        [class^=profileCustomizationSection_] [class^=customizationSection_] {
            &[class*=withDivider_]:has(> [class^=buttonsContainer_]) {
                /* avatar decorations */
                + [class^=customizationSection_],
                /* profile effects */
                + [class^=customizationSection_] + [class^=customizationSection_] {
                    display: none;
                }
            }
            /* disable clicking on server specific avatar when not unlocked */
            [class^=avatar_][class*=clickable_]:has(path[d^="M7 4a1 1 0 0 0 0 2h3a1"]) {
                pointer-events: none;
                /* prevent clicking through status icon */
                rect {
                    pointer-events: none;
                }
            }
            /* disable clicking on banner when not unlocked */
            [class^=banner_] > [class^=clickable_]:has(path[d^="M7 4a1 1 0 0 0 0 2h3a1"]) {
                pointer-events: none;
            }
        }
    }
    /* appearance tab */
    #appearance-tab {
        /* customize colour background section */
        section:has(> [class^=header_] [class^=nitroWheel_]) {
            display: none;
        }
        /* custom icon section */
        [class^=selectionGroup_]:has([class^=nitroWheel_]) {
            display: none;
        }
    }
    /* entrance sounds in voice & video settings */
    [id="voice-&-video-tab"] [class^=divider_][class*=callSoundsDivider_] ~ [class] {
    display: none !important;
    }
    /* server settings */
    /* overview tab boosting upsell */
    #overview-tab [class^=divider_] [class^=divider_]:has(> [class^=flex_] > [class^=flexChild_] > [class^=shinyButton_]),
    /* hide role icon section in roles tab when unavailable */
    #roles-tab [class^=contentWidth_] > [class^=container_]:has([class^=availabilityIndicator_] > [class^=icon_]:not([class*=unlockedIcon_])) {
        display: var(--boosting);
    }
    #emoji-tab,
    #stickers-tab,
    #soundboard-tab {
        /* boost upsell banner */
        [class^=banner_]:has(> [class^=ctaContainer_] > [class^=shinyButton_]) {
            display: var(--boosting);
        }
    }
    #stickers-tab,
    #vanity_url-tab {
        /* boosting button */
        [class^=shinyButton_] {
            display: var(--boosting);
        }
    }
    #roles-tab,
    #vanity_url-tab {
        /* level requirement indicator */
        [class^=availabilityIndicator_] {
            /* hide boost icon */
            > [class^=icon_] {
                display: var(--boosting);
            }
            /* add margin so text is centered */
            > h2 {
                margin-left: 4px;
            }
            /* disable clicking level indicator */
            [class^=clickable_]:has(> &) {
                pointer-events: var(--boosting);
            }
        }
    }
    /* stickers tab boosting upsell */
    #stickers-tab {
        /* number of boosts description */
        [class^=tierDefaultUnlocked_],
        /* locked tiers */
        [class^=tier_]:has(> [class^=tierHeaderLocked_]),
        /* progress bar */
        [class^=progress_][class*=progressBar_] {
            display: var(--boosting);
        }
    }
    /* nitro upsell in server settings boost status tab */
    #guild_premium-tab > [class^=tier0Container_] {
        display: none;
    }
}
/* billing settings right click entry */
/* nitro */
#user-settings-cog-Discord_Nitro,
/* subscriptions */
#user-settings-cog-Subscriptions,
/* gift inventory/quests */
#user-settings-cog-Library_Inventory,
/* billing */
#user-settings-cog-Billing {
    display: var(--billing);
}
/* merch */
#user-settings-cog-merchandise {
    display: none;
}

/* boosting */
/* boost progress bar */
#channels > ul > li:has(> [data-list-item-id^=channels___boosts]),
/* server shop */
#channels [class^=containerDefault_]:has(> [id^=shop]),
/* booster badge in memberlist */
[class^=membersWrap_] [class^=premiumIcon],
/* right click entry to user settings boost tab */
#user-settings-cog-Nitro_Server_Boost,
/* boost button on clicking server header */
#guild-header-popout-premium-subscribe,
/* ^ following separator */
#guild-header-popout div:has(> #guild-header-popout-premium-subscribe) + [class^=separator_],
/* context menu for subscriptions tab */
#guild-context-guild-settings--ROLE_SUBSCRIPTIONS,
/* context menu for boost status tab in server settings */
#guild-context-guild-settings--GUILD_PREMIUM {
    display: var(--boosting);
}
/* disable clicking on server boost status icon in server header */
[class^=header_] [class^=guildIcon]:active {
  pointer-events: var(--boosting);
}

/* emoji picker */
#emoji-picker-tab-panel {
    /* hide react with nitro emojis in vc upsell */
    [class^=tooltipContainer_]:has(> #fancybutton-toggle),
    /* hide super reactions toggle */
    > [class^=header_] > [class^=burstToggle_] {
        display: none;
    }
    #emoji-picker-grid {
        /* nitro dividers */
        [class^=categorySection_][class*=categorySectionNitroDivider] {
            > [class^=nitroTopDividerContainer_],
            > [class^=nitroBottomDivider_] {
                display: none;
            }
        }
        /* nitro locked section */
        [class^=categorySection_][class*=categorySectionNitroLocked] {
            /* make nitro needed emojis b&w */
            filter: grayscale();
            background-color: transparent;
            /* server headers */
            [class^=header_] {
                /* hide nitro icon */
                [class^=headerIcon_]:has(> svg > path) {
                    display: none;
                    /* remove gap */
                    + [class^=headerLabel_] {
                        margin: 0;
                    }
                }
                /* change server names and "Available with Nitro" headers to "Unavailable" */
                [class^=headerLabel_] {
                    font-size: 0;
                    &::before {
                        font-size: 12px;
                        content: "Unavailable";
                    }
                }
            }
            /* disable clicking on unavailable emojis */
            [class^=emojiListRow_] {
                pointer-events: none;
            }
            /* make unavailable emojis have matching styles */
            [class^=lockedEmoji_] {
                background: hsl(var(--black-500-hsl)/.6);
                filter: brightness(50%);
            }
            /* hide nitro needed emojis in search results */
            #emoji-picker-tab-panel #emoji-picker-grid [class^=listItems_][style="inset: 8px 0px;"] > & {
                display: none;
            }
        }
        /* disable clicking on unavailable emojis and make them b&w */
        [class^=emojiListRow_] [class^=emojiItem_]:has([class^=emojiLockIconContainer_]) {
            pointer-events: none;
            background-color: transparent;
            filter: grayscale();
        }
        /* nitro upsell warning  */
        [class^=upsellContainer_] {
            display: none;
        }
    }
    > [class^=wrapper_] > [class^=scroller_] {
        /* disable scrolling on the server shortcuts */
        &:has(> [class^=listItems_] [class^=categoryItemLockIconContainer_]) {
            overflow-y: hidden !important;
        }
        /* hide unavailable emoji server shortcuts */
        > [class^=listItems_] > div:has([class^=categoryItemLockIconContainer_]) {
            display: none;
        }
    }
}

/* sticker picker */
#sticker-picker-tab-panel > #sticker-picker-grid {
    [class^=stickerNode_][class*=stickerUnsendable_] {
        [class^=wrapper_]:has(+ [class^=row_] [class^=sticker_] &) [class^=header_] {
            filter: grayscale();
            /* change server names and "Available with Nitro" headers to "Unavailable" */
            [class^=headerLabel_] {
                font-size: 0;
                &::before {
                    font-size: 12px;
                    content: "Unavailable";
                }
            }
        }
        /* unavailable stickers */
        [class^=sticker_]:has(&) {
            pointer-events: none;
            background: hsl(var(--black-500-hsl)/.6);
            filter: brightness(50%);
        }
    }
}

/* popouts */
[id^=popout_] {
    /* change avatar decoration option when clicking pfp in profiles tab */
    #user-settings-change-avatar-change-avatar-decoration,
    /* super reaction hover tooltips */
    [class^=reactionTooltip_] > [class^=burstReactionTooltipPrompt] {
        display: none;
    }
    /* soundboard */
    [class^=picker_][role=dialog] {
        /* nitro upsell container */
        > [class^=gridNoticeWrapper_]:has(> [class^=premiumFeatureBorder_]) {
            display: none;
        }
        /* sounds */
        > [class^=listWrapper_] > [class^=wrapper_] > [class^=scroller_] > [class^=listItems_] {
            /* server header with disabled sounds */
            > [class^=sectionContainer_]:has(+ ul > li > [class^=soundButton_][class*=premiumDisabled_]) {
                filter: grayscale();
                /* change unavailable server names to "Unavailable"  */
                > [class^=sectionHeader_] > [class^=sectionHeaderContent_] > h1 {
                    font-size: 0;
                    &::before {
                        content: "Unavailable";
                        font-size: 12px;
                    }
                }
            }
            /* prevent clicking on unavailable sounds */
            > ul > li:has(> [class^=soundButton_][class*=premiumDisabled_]) {
                filter: grayscale();
                pointer-events: none;
            }
        }
    }
}

/* chat input */
[class^=channelTextArea_] {
    /* gift button */
    [class^=buttons_] > button,
    /* "Send longer Messages with Discord Nitro!" */ 
    > [class^=characterCount_] [class*=upsell_] {
        display: none;
    }
}

/* chat */
[data-list-id=chat-messages] {
    /* super reactions */
    [class^=reaction_] > [class^=reactionInner_]:has(> [class^=burstGlow_]) {
        pointer-events: none;
        /* hide animation effect */
        [class^=effectsWrapper_] {
            display: none;
        }
    }
}

/* popup when clicking on emoji/sticker */
[class^=popoutContainer_] > [class^=emojiSection_] {
    /* nitro upselling description when clicking on emoji/sticker */
    > [class^=flex_] > [class^=flex_] > [class^=defaultColor_][data-text-variant="text-sm/normal"],
    /* "Get Nitro" button */
    > [class^=shinyButton_] {
        display: none;
    }
}

/* dialog popups */
[class^=focusLock_][role=dialog] > [class^=root_] {
    /* text */
    > [class^=content_] {
        > [class^=defaultColor_] {
            /* paragraphs */
            > p {
                /* has a link, likely to the nitro page (long message length upselling description,100 server limit upselling description) */
                &:has(> a,> [class^=learnMoreLink_]) {
                    display: none;
                }
            }
            /* large file upload upselling description */
            > [class^=body_] > [class^=defaultColor_] {
                display: none;
            }
        }
        /* remove gif option from profile pic upload option */
        [class^=imagePickerContainer_] > [class^=optionBox_]:has([class^=nitroWheel]) {
            display: none;
        }
    }
    /* nitro button */
    [class^=shinyButton_] {
        display: none;
    }
    /* nuke huge upsell popup on login - images #1-2 */
    &:has(> [class^=content_] > [class^=shinyButton_]) {
        /* restyle background */
        background: var(--background-primary);
        /* restyle close button */
        > button[class^=closeButton_] {
            opacity: 1;
            > [class^=contents_] {
                height: 24px;
                zoom: 112.5%;
            }
        }
        /* hide most of the upsell */
        > svg,
        > [class^=modalTopPill][class*=freeTrial] {
            display: none;
        }
        > [class^=content_]:has(> [class^=shinyButton_]) {
            > h2[class^=defaultColor_][class*=subHeader_] > a,
            > [class]:not(h2[class^=defaultColor_][class*=subHeader_]) {
                display: none;
            }
            /* replace sub header with informative text */
            > h2[class^=defaultColor_][class*=subHeader_] {
                visibility: hidden;
                display: flex;
                align-items: center;
                &::after {
                    visibility: visible !important;
                    content: "There was previously a Nitro advertisement here. Move along.";
                    position: absolute;
                    top: 42.5%;
                }
            }
        }
    }
    /* "you could be paying less!" in server boost payment modal */
    > .paymentModalContent [class^=upsellFooter_] {
        display: none;
    }
}


/* UNABLE TO TEST ATM */
/* Birthday avatar decoration upselling */
[class^=birthdayFeatureBorder],
/* Halloween avatar decoration upselling */
[class^=container]:has([class^=falloweenArtContainer_]),
/* Christmas gifting button */
[class*=sansAttachButton] > [class^=buttons] > [class^=container],
/* Snowsgiving bs */
a[href*="/snowsgiving"] {
    display: none;
}
/* idk where this is */
/* uspell on role badge click */
[id^=popout_] button:has([class^=boosterBadge_]) {
  display: none;
}



/*Spotify Player*/



/* BetterSpotifyPlayer */
/* a spotify icon snippet */
#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  padding: 7px;
  margin-left: -17px;
  margin-top: 2px;
  content: '';
  background-color: var(--header-primary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
  position: absolute;
}
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
   background-color: var(--header-secondary);
  /* Spotify wave thingy fix */
  /*background-color: hsla(var(--spotify-vencord-text)/1);*/
}

#vc-spotify-song-title::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}
/* */

/* */
#vc-spotify-player {
  height:50px; 
  background: transparent !important;
  position: relative;
  transition: height 0.4s ease-out;
  padding: 7px!important;
  padding-top: 8px !important;
  overflow: hidden;
}
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
  height: 310px;
}
#vc-spotify-player:hover {
  height: 115px;
}
#vc-spotify-progress-bar, .vc-spotify-button-row {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
#vc-spotify-player:hover #vc-spotify-progress-bar,
#vc-spotify-player:hover .vc-spotify-button-row {
  opacity: 1;
}
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) #vc-spotify-progress-bar,
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) .vc-spotify-button-row {
  opacity: 1;
}
#vc-spotify-player::before {
  z-index: -1;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-out;
}
#vc-spotify-player::before {
  background: var(--vc-spotify-track-image);
  background-size: cover;
  background-position: center;
  opacity: 0;
}
#vc-spotify-player:hover::before,
#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper)::before {
  opacity: 1;
  filter: brightness(50%);
}
#vc-spotify-progress-bar {
  margin: 11px 0 7px;
}
#vc-spotify-info-wrapper > img {
  height: 100%;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
#vc-spotify-player:not(:has(#vc-spotify-album-expanded-wrapper)):hover #vc-spotify-album-image {
  opacity: 0;
}
#vc-spotify-album-image:hover {
  filter: none;
}
#vc-spotify-info-wrapper #vc-spotify-titles {
  margin-left: 15px;
  transition: margin-left 0.4s ease-out;
}
#vc-spotify-player:hover #vc-spotify-titles  {
  margin-left: -42px;
}
#vc-spotify-player #vc-spotify-titles .size14_e8b2ab {
  font-size: 13px;
}
#vc-spotify-song-title::before, #vc-spotify-song-title + div::before, #vc-spotify-song-title + div + div::before {
  background-color: var(--interactive-active);
}
#vc-spotify-player .colorStandard_d1aa77 {
  color: var(--interactive-active);
}
.vc-spotify-artist, .vc-spotify-album {
  color: var(--interactive-normal)
}
#vc-spotify-player .bar_c7a159 {
  background-color: color-mix(in srgb, var(--white-500), transparent 75%);
}
#vc-spotify-player .barFill_c7a159 {
  background-color: var(--interactive-active);
}
#vc-spotify-progress-bar>[class^=slider] [class^=grabber] {
  background-color: var(--interactive-active);
  border-color: var(--interactive-active);
  width: 12px !important;
  height: 12px !important;
  margin-top: 3px;
  opacity: 1 !important;
}
.vc-spotify-progress-time {
  top: 12px;
}
.vc-spotify-button {
  color: var(--interactive-active);
}
.vc-spotify-button:hover {
  background-color: color-mix(in srgb, var(--interactive-active), transparent 75%);
}
.vc-spotify-button.vc-spotify-shuffle-on {
  color: var(--green-360);
}
.vc-spotify-button.vc-spotify-shuffle-on:hover {
  background-color: color-mix(in srgb, var(--green-360), transparent 75%);;
} 
/* */
/* adding this to force update */



/**
 * @name DiscordIcons
 * @author gold_me
 * @description A lightweight theme that adds icons to your settings.
 * @source https://github.com/gold-me/DiscordIcons
 * @version 0.2.4
 */

/* DEFINITIONS */
@property --icon-size {
  syntax: "<length>";
  inherits: true;
  initial-value: 24px;
}
@property --icon-gap {
  syntax: "<length>";
  inherits: true;
  initial-value: 10px;
}
@property --icon-animations {
  syntax: "true | false";
  inherits: true;
  initial-value: true;
}
@property --icon-expand {
  syntax: "true | false";
  inherits: true;
  initial-value: false;
}
@property --icon-monocolor {
  syntax: "true | false";
  inherits: true;
  initial-value: false;
}
@property --icon-permacolor {
  syntax: "true | false";
  inherits: true;
  initial-value: false;
}
@property --icon-color {
  syntax: "<color>";
  inherits: false;
  initial-value: currentColor;
}
@property --icon-Default {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Indeterminate_Question_Box.svg");
}
@property --icon-MyAccount {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Manage_Accounts.svg");
}
@property --icon-ProfileCustomization {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Style.svg");
}
@property --icon-PrivacySafety {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Security.svg");
}
@property --icon-FamilyCenter {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Supervisor_Account.svg");
}
@property --icon-AuthorizedApps {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/App_Registration.svg");
}
@property --icon-Devices {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Devices.svg");
}
@property --icon-Connections {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Link.svg");
}
@property --icon-Clips {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Theaters.svg");
}
@property --icon-FriendRequests {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Group_Add.svg");
}
@property --icon-Nitro {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Nitro.svg");
}
@property --icon-ServerBoost {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Server_Boost.svg");
}
@property --icon-Subscriptions {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Fact_Check.svg");
}
@property --icon-Gifts {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Redeem.svg");
}
@property --icon-Billing {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Receipt_Long.svg");
}
@property --icon-Appearance {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Brush.svg");
}
@property --icon-Accessibility {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Accessibility_New.svg");
}
@property --icon-VoiceVideo {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Perm_Camera_Mic.svg");
}
@property --icon-Chat {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Chat.svg");
}
@property --icon-Notifications {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Notifications_Active.svg");
}
@property --icon-Keybinds {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Keyboard.svg");
}
@property --icon-Language {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Translate.svg");
}
@property --icon-Windows {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Windows.svg");
}
@property --icon-Mac {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Apple.svg");
}
@property --icon-Linux {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Tux.svg");
}
@property --icon-Streaming {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Videocam.svg");
}
@property --icon-Advanced {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Tune.svg");
}
@property --icon-Vencord {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/jdecked/twemoji/main/assets/svg/1f431.svg");
}
@property --icon-Plugins {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Extention.svg");
}
@property --icon-Themes {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Format_Paint.svg");
}
@property --icon-Updater {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/System_Update_Alt.svg");
}
@property --icon-Cloud {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Cloud.svg");
}
@property --icon-BackupRestore {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Backup.svg");
}
@property --icon-ActivityPrivacy {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Privacy.svg");
}
@property --icon-GameActivity {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Gamepad.svg");
}
@property --icon-Overlay {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Overlay.svg");
}
@property --icon-Changelog {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Update.svg");
}
@property --icon-Merch {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Shirt.svg");
}
@property --icon-HypeSquad {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/HypeSquad.svg");
}
@property --icon-Experiments {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Experiment.svg");
}
@property --icon-DeveloperOptions {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-HotspotOptions {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-DismissibleConents {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-PaymentFlowModals {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-DesignSystems {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-TextPlayground {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-TextComponents {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-IntlTesting {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-ProfileEffectsPreview {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-WebSettingTreeTool {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Memory.svg");
}
@property --icon-Logout {
  syntax: "<url>";
  inherits: true;
  initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logout.svg");
}
@property --icon-Overview {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Info.svg");
}
@property --icon-Roles {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Badge.svg");
}
@property --icon-Emoji {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Emoji.svg");
}
@property --icon-Stickers {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Stickers.svg");
}
@property --icon-Soundboard {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Soundboard.svg");
}
@property --icon-Widget {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Widgets.svg");
}
@property --icon-Template {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Library_Books.svg");
}
@property --icon-CustomInvite {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Share.svg");
}
@property --icon-Integrations {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Mediation.svg");
}
@property --icon-AppDirectory {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Apps.svg");
}
@property --icon-SafetySetup {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Safety_Setup.svg");
}
@property --icon-AutoMod {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/AutoMod.svg");
}
@property --icon-AuditLog {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Audit_Log.svg");
}
@property --icon-Bans {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Gavel.svg");
}
@property --icon-Onboarding {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Groups.svg");
}
@property --icon-Insights {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Insights.svg");
}
@property --icon-Partner {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Discord/Partner.svg");
}
@property --icon-Discovery {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Explore.svg");
}
@property --icon-Members {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Group.svg");
}
@property --icon-Invite {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Send.svg");
}
@property --icon-Permissions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Permissions.svg");
}
@property --icon-Delete {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Delete.svg");
}


[class^="standardSidebarView_"] {

	/* Padding and Icons */
	.side_a0 .item_a0 {
		padding: calc((32px - var(--icon-size)) / 2) 4px !important
	}

	.side_a0 .item_a0::before {
		content: "";
		float: left;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-right: 8px;
		opacity: 0.5;
		transition: 160ms;
		mask: var(--icon-Default) center/contain no-repeat;
		background: currentColor;
	}

	.side_a0 .item_a0 {
		line-height: var(--icon-size);
	}

	.side_a0 .item_a0 .dot-2s_oHI {
		background-color: var(--bd-blue);
	}

	.side_a0 .item_a0:hover::before {
		opacity: 0.7;
	}

	.side_a0 .item_a0[class*="selected"]::before {
		opacity: 1;
	}

	/* Icon Coloring */

	@container style(--icon-monocolor: false) {
		.side_a0 .item_a0[class*="selected"]::before,
		.side_a0 .item_a0:hover::before {
			background-color: var(--icon-color);
		}
	}
	@container style(--icon-permacolor: true) {
		.side_a0 .item_a0::before {
			background-color: var(--icon-color);
		}
	}



	/* Button Hover & Animations */
	@container style(--icon-animations: true) {
		[class^="sidebar_"] .item_a0 {
			border-radius: 4px 0px 0px 4px;
			transform: translateZ(0);
			transition: 220ms;
		}

		[class^="sidebar_"] .item_a0:hover,
		[class^="sidebar_"] .selected_a0.item_a0 {
			transform: translateX(8px);
			transition: 160ms;
		}
	}

	/* Icons Expansion */
	@container style(--icon-expand: true) {

		[class^="sidebar_"] .item_a0:hover,
		.selected_a0.item_a0 {
			min-width: calc(var(--custom-standard-sidebar-view-sidebar-content-width) + (var(--icon-size) * (1 + (1 / 3))));
			margin-left: calc(-1 * var(--icon-size) * (1 + (1 / 3)));
		}
	}

	/* Misc .Fixes */
	[class^="serverBoostTabItem_"][aria-selected="true"] {
		background-color: var(--background-modifier-selected) !important;
	}
}

/* You have ThemeAttributes :) */
[class^="standardSidebarView_"]:has([data-tab-id]) .side_a0 {

	/* Nitro, Server Boost & Subscriptions Selected Color Fix */
	.selected_a0.item_a0[data-tab-id="Discord Nitro" i] [class^="background_"] {
		background-color: unset !important;
		z-index: 0;
	}
	[class^="serverBoostTabItem_"].selected_a0.item_a0,
	.selected_a0.item_a0 [class^="premiumLabel_"] {
		color: inherit !important;
	}

	/* Remove Unnesecary Icons */
	[class^="premiumLabel_"] svg,
	[class*="serverBoostTabItem_"] .icon_f7189e,
	.item_a0[data-tab-id="DELETE" i] [class^="tabBarItemContainer_"] svg,
	.item_a0[data-tab-id="logout"] [class^="tabBarItemContainer_"] svg {
		display: none;
	}

	/*		User Settings		*/
	/* Settings: My Account */
	.item_a0[data-tab-id="My Account" i]::before {
		mask: var(--icon-MyAccount, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Profiles */
	.item_a0[data-tab-id="Profile Customization" i]::before {
		mask: var(--icon-ProfileCustomization, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Privacy & Safety */
	.item_a0[data-tab-id="Privacy & Safety" i]::before {
		mask: var(--icon-PrivacySafety, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Family Center */
	.item_a0[data-tab-id="Family Center" i]::before {
		mask: var(--icon-FamilyCenter, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Authorized Apps */
	.item_a0[data-tab-id="Authorized Apps" i]::before {
		mask: var(--icon-AuthorizedApps, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Devices */
	.item_a0[data-tab-id="Sessions" i]::before {
		mask: var(--icon-Devices, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Connections */
	.item_a0[data-tab-id="Connections" i]::before {
		mask: var(--icon-Connections, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Clips */
	.item_a0[data-tab-id="Settings Clips" i]::before {
		mask: var(--icon-Clips, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Friend Requests */
	.item_a0[data-tab-id="Friend Requests" i]::before {
		mask: var(--icon-FriendRequests, var(--icon-Default)) center/contain no-repeat;
	}

	/*		Billing Settings		*/

	/* Settings: Discord Nitro */
	.item_a0[data-tab-id="Discord Nitro" i]::before {
		mask: var(--icon-Nitro) center/contain no-repeat;
		--icon-color: var(--brand-500);
	}

	/* Settings: Server Boost */
	.item_a0[data-tab-id="Nitro Server Boost" i]::before {
		mask: var(--icon-ServerBoost, var(--icon-Default)) center/contain no-repeat;
		--icon-color: var(--guild-boosting-pink);
	}

	/* Settings: Subscriptions */
	.item_a0[data-tab-id="Subscriptions" i]::before {
		mask: var(--icon-Subscriptions, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Gift Inventory */
	.item_a0[data-tab-id="Library Inventory" i]::before {
		mask: var(--icon-Gifts, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Billing */
	.item_a0[data-tab-id="Billing" i]::before {
		mask: var(--icon-Billing, var(--icon-Default)) center/contain no-repeat;
	}

	/*		App Settings		*/

	/* Settings: Appearance */
	.item_a0[data-tab-id="Appearance" i]::before {
		mask: var(--icon-Appearance, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Appearance */
	.item_a0[data-tab-id="Accessibility" i]::before {
		mask: var(--icon-Accessibility, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Voice & Video */
	.item_a0[data-tab-id="Voice & Video" i]::before {
		mask: var(--icon-VoiceVideo, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Chat */
	.item_a0[data-tab-id="Text & Images" i]::before {
		mask: var(--icon-Chat, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Notifications */
	.item_a0[data-tab-id="Notifications" i]::before {
		mask: var(--icon-Notifications, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Keybinds */
	.item_a0[data-tab-id="Keybinds" i]::before {
		mask: var(--icon-Keybinds, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Language */
	.item_a0[data-tab-id="Language" i]::before {
		mask: var(--icon-Language, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Windows Settings */
	.item_a0[data-tab-id="Windows" i]::before {
		mask: var(--icon-Windows, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Linux Settings */
	.item_a0[data-tab-id="Linux" i]::before {
		mask: var(--icon-Linux, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Streamer Mode */
	.item_a0[data-tab-id="Streamer Mode" i]::before {
		mask: var(--icon-Streaming, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Advanced */
	.item_a0[data-tab-id="Advanced" i]::before {
		mask: var(--icon-Advanced, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Vencord Icons */
	.item_a0[data-tab-id="VencordSettings" i]::before {
		mask: var(--icon-Vencord, var(--icon-Default)) center/contain no-repeat;
	}

	.item_a0[data-tab-id="VencordPlugins" i]::before {
		mask: var(--icon-Plugins, var(--icon-Default)) center/contain no-repeat;
	}

	.item_a0[data-tab-id="VencordThemes" i]::before {
		mask: var(--icon-Themes, var(--icon-Default)) center/contain no-repeat;
	}

	.item_a0[data-tab-id="VencordUpdater" i]::before {
		mask: var(--icon-Updater, var(--icon-Default)) center/contain no-repeat;
	}

	.item_a0[data-tab-id="VencordCloud" i]::before {
		mask: var(--icon-Cloud, var(--icon-Default)) center/contain no-repeat;
	}

	.item_a0[data-tab-id="VencordSettingsSync" i]::before {
		mask: var(--icon-BackupRestore, var(--icon-Default)) center/contain no-repeat;
	}

	/*    Activity Settings    */
	/* Settings: Activity Privacy */
	.item_a0[data-tab-id="Activity Privacy" i]::before {
		mask: var(--icon-ActivityPrivacy, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Registered Games */
	.item_a0[data-tab-id="Game Activity" i]::before {
		mask: var(--icon-GameActivity, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Overlay */
	.item_a0[data-tab-id="Overlay" i]::before {
		mask: var(--icon-Overlay, var(--icon-Default)) center/contain no-repeat;
	}

	/*      Misc Settings       */
	/* Settings: What's New */
	.item_a0[data-tab-id="changelog" i]::before {
		mask: var(--icon-Changelog, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Merch */
	.item_a0[data-tab-id="merchandise" i]::before {
		mask: var(--icon-Merch, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: HypeSquad */
	.item_a0[data-tab-id="Hypesquad Online" i]::before {
		mask: var(--icon-HypeSquad, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Experiments */
	.item_a0[data-tab-id="Experiments" i]::before {
		mask: var(--icon-Experiments, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Developer Options */
	.item_a0[data-tab-id="Developer Options" i]::before {
		mask: var(--icon-DeveloperOptions, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Hotspot Options */
	.item_a0[data-tab-id="Hotspot Options" i]::before {
		mask: var(--icon-HotspotOptions, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Dismissible Contents */
	.item_a0[data-tab-id="Dismissible Content Options" i]::before {
		mask: var(--icon-DismissibleConents, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Payment Flow Modals */
	.item_a0[data-tab-id="Payment Flow Modals" i]::before {
		mask: var(--icon-PaymentFlowModals, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Design Systems */
	.item_a0[data-tab-id="Design System" i]::before {
		mask: var(--icon-DesignSystems, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Text Playground */
	.item_a0[data-tab-id="Text Playground" i]::before {
		mask: var(--icon-TextPlayground, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Text Components */
	.item_a0[data-tab-id="Text Component" i]::before {
		mask: var(--icon-TextComponents, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Intl Testing */
	.item_a0[data-tab-id="Intl Testing" i]::before {
		mask: var(--icon-IntlTesting, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Profile Effects Preview Tool */
	.item_a0[data-tab-id="Profile Effects Preview Tool" i]::before {
		mask: var(--icon-ProfileEffectsPreview, var(--icon-Default)) center/contain no-repeat;
	}

	/* Settings: Web Setting Tree Tool */
	.item_a0[data-tab-id="Web Setting Tree Tool" i]::before {
		mask: var(--icon-WebSettingTreeTool, var(--icon-Default)) center/contain no-repeat;
	}

	/* Log Out */
	.item_a0[data-tab-id="logout"]::before {
		mask: var(--icon-Logout) center/contain no-repeat;
	}

	/*      SERVER ICONS        */

	/* Server: Overview */
	.item_a0[data-tab-id="OVERVIEW"]::before {
		mask: var(--icon-Overview, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Roles */
	.item_a0[data-tab-id="ROLES"]::before {
		mask: var(--icon-Roles, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Emoji */
	.item_a0[data-tab-id="EMOJI"]::before {
		mask: var(--icon-Emoji, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Stickers */
	.item_a0[data-tab-id="STICKERS"]::before {
		mask: var(--icon-Stickers, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Soundboard */
	.item_a0[data-tab-id="SOUNDBOARD"]::before {
		mask: var(--icon-Soundboard, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Widgets */
	.item_a0[data-tab-id="WIDGET"]::before {
		mask: var(--icon-Widget, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Server Template */
	.item_a0[data-tab-id="GUILD_TEMPLATES"]::before {
		mask: var(--icon-Template, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Custom Invite Link */
	.item_a0[data-tab-id="VANITY_URL"]::before {
		mask: var(--icon-CustomInvite, var(--icon-Default)) center/contain no-repeat;
	}

	/*      Apps        */
	/* Server - Apps: Integrations */
	.item_a0[data-tab-id="INTEGRATIONS"]::before {
		mask: var(--icon-Integrations, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server - Apps: App Directory */
	.item_a0[data-tab-id="APP_DIRECTORY"]::before {
		mask: var(--icon-AppDirectory, var(--icon-Default)) center/contain no-repeat;
	}

	/*      Moderation      */

	/* Server - Moderation: Safety Setup */
	.item_a0[data-tab-id="MODERATION"]::before,
	.item_a0[data-tab-id="SAFETY"]::before {
		mask: var(--icon-SafetySetup, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server - Moderation: AutoMod */
	.item_a0[data-tab-id="GUILD_AUTOMOD"]::before {
		mask: var(--icon-AutoMod, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server - Moderation: Audit Log */
	.item_a0[data-tab-id="AUDIT_LOG"]::before {
		mask: var(--icon-AuditLog, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server - Moderation: Bans */
	.item_a0[data-tab-id="BANS"]::before {
		mask: var(--icon-Bans, var(--icon-Default)) center/contain no-repeat;
	}

	/*      Community       */

	/* Server - Community: Overview/Enable Community */
	.item_a0[data-tab-id="COMMUNITY"]::before {
		mask: var(--icon-Overview, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server - Community: Onboarding */
	.item_a0[data-tab-id="ONBOARDING"]::before {
		mask: var(--icon-Onboarding, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server - Community: Insights */
	.item_a0[data-tab-id="ANALYTICS"]::before {
		mask: var(--icon-Insights, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server Community: Partner Program Icon */
	.item_a0[data-tab-id="PARTNER"]::before {
		mask: var(--icon-Partner, var(--icon-Default));
	}

	/* Server - Community: Discovery */
	.item_a0[data-tab-id="DISCOVERY"]::before {
		mask: var(--icon-Discovery, var(--icon-Default)) center/contain no-repeat;
	}

	/*      Monetization       */
	/* Server - Monetization: Server Subscriptions */
	.item_a0[data-tab-id="ROLE_SUBSCRIPTIONS"]::before {
		mask: var(--icon-Subscriptions, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server - Monetization: Server Boost Status */
	.item_a0[data-tab-id="GUILD_PREMIUM"]::before {
		mask: var(--icon-ServerBoost, var(--icon-Default)) center/contain no-repeat;
		--icon-color: var(--guild-boosting-pink);
	}

	/*      User Management       */

	/* Server - User Management: Members */
	.item_a0[data-tab-id="MEMBERS"]::before {
		mask: var(--icon-Members, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Invites */
	.item_a0[data-tab-id="INSTANT_INVITES"]::before {
		mask: var(--icon-Invite, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Permissions */
	.item_a0[data-tab-id="PERMISSIONS"]::before {
		mask: var(--icon-Permissions, var(--icon-Default)) center/contain no-repeat;
	}

	/* Server: Delete Icon */
	.item_a0[data-tab-id="DELETE"]::before {
		mask: var(--icon-Delete, var(--icon-Default)) center/contain no-repeat;
	}

	/* Make Delete/Logout Buttons Red */
	.item_a0[data-tab-id="DELETE"],
	.item_a0[data-tab-id="logout"] {
		color: var(--info-danger-foreground) !important;
	}

	.item_a0[data-tab-id="DELETE"]:hover,
	.item_a0[data-tab-id="logout"]:hover {
		background-color: var(--info-danger-background) !important;
	}

	.item_a0[data-tab-id="DELETE"]::before,
	.item_a0[data-tab-id="logout"]::before {
		background-color: var(--info-danger-foreground) !important;
		opacity: 0.6;
	}

	.item_a0[data-tab-id="DELETE"]:hover::before,
	.item_a0[data-tab-id="logout"]:hover::before {
		opacity: 1;
	}
}
