/*Hide Nitro*/


/*
 * @name Hide Nitro Upselling
 * @description Hide all Nitro upselling in any language
 * @author tom2k
 * @version 2.4.0
 */
/* customization */
:root {
    --billing: none;
    --boosting: none;
}

/* GENERAL HIDE */

/* Nitro Button above DM List */
[href="/store"],
/* Shop Button above DM List */
[href="/shop"],
/* Nitro upselling in server boosting screen */
[class^=guildStatus_] > [class^=guildBoostCtas_] > [class^=guildBoostCta_][class*=guildBoostCtaSecondary_],
/* Nitro icon in stream quality */
[class^=streamQualityIndicator_] [class^=premiumStreamIcon_] {
    display: none;
}

/* Random side popup theme upsell */
#app-mount > [class^=appAsidePanelWrapper_] > [class^=themeEditor_]:has([class^=shinyButton_]),
/* Nitro themes in theme preview editor */
[class^=selectionGroup_] {
    display: none;
}

/* Disable hovering tooltip on Nitro icon in stream quality */
[class^=streamQualityIndicator_]:has([class^=premiumStreamIcon_]),
/* Disable clicking on anything that redirects to Nitro page */
[href="https://discord.com/settings/premium"]:active {
  pointer-events: none;
}

/* SETTINGS */
[class^=standardSidebarView_] {
    > [class^=sidebarRegion_] > [class^=sidebarRegionScroller_] > nav > [class^=side_] {
        /* Billing settings tabs */
        > [class^=header_]:has(+ [class^=premiumTab_]),
        > [class^=premiumTab_],
        > [data-tab-id="Subscriptions"],
        > [data-tab-id="Library Inventory"],
        > [data-tab-id="Billing"],
        > [data-tab-id="Billing"] + [class^=separator_],
        > [data-tab-id="Nitro Server Boost"] {
            display: var(--billing);
        }
    }

    /* Profiles tab */
    #profile-customization-tab {
        /* "Try Out Nitro!" section */
        > [class^=premiumFeatureBorder],
        /* Unique server profiles overlay */
        [class^=upsellOverlayContainer_],
        /* Shop upselling */
        > [class^=container_][style^="background-image:"] {
            display: none;
        }
        [class^=profileCustomizationSection_] [class^=customizationSection_] {
            &[class*=withDivider_]:has(> [class^=buttonsContainer_]) {
                + [class^=customizationSection_],
                + [class^=customizationSection_] + [class^=customizationSection_] {
                    display: none;
                }
            }
        }
    }

    /* Appearance tab */
    #appearance-tab {
        /* Customize color background section */
        section:has(> [class^=header_] [class^=nitroWheel_]) {
            display: none;
        }
    }

    /* Sticker picker */
    #sticker-picker-tab-panel > #sticker-picker-grid {
        [class^=stickerNode_][class*=stickerUnsendable_] {
            filter: grayscale();
            pointer-events: none;
        }
    }
}

/* Boosting settings */
#guild-header-popout-premium-subscribe,
#user-settings-cog-Nitro_Server_Boost,
#guild-context-guild-settings--ROLE_SUBSCRIPTIONS {
    display: var(--boosting);
}

/* Server boost progress bar */
#channels > ul > li:has(> [data-list-item-id^=channels___boosts]),
/* Server shop */
#channels [class^=containerDefault_]:has(> [id^=shop]),
/* Server settings boost status tab */
#guild-context-guild-settings--GUILD_PREMIUM {
    display: var(--boosting);
}

/* Chat input - Hide Nitro-related upsells */
[class^=channelTextArea_] {
    /* Gift button */
    [class^=buttons_] > button,
    /* "Send longer messages with Nitro!" */
    > [class^=characterCount_] [class*=upsell_] {
        display: none;
    }
}

/* Emoji picker */
#emoji-picker-tab-panel {
    /* Hide Nitro Emojis in VC upsell */
    [class^=tooltipContainer_]:has(> #fancybutton-toggle),
    /* Hide super reactions toggle */
    > [class^=header_] > [class^=burstToggle_] {
        display: none;
    }
    #emoji-picker-grid {
        /* Nitro dividers */
        [class^=categorySection_][class*=categorySectionNitroDivider] {
            > [class^=nitroTopDividerContainer_],
            > [class^=nitroBottomDivider_] {
                display: none;
            }
        }
    }
}

/* Dialog popups */
[class^=focusLock_][role=dialog] > [class^=root_] {
    /* Nitro button */
    [class^=shinyButton_] {
        display: none;
    }

    /* Hide upsell on login */
    &:has(> [class^=content_] > [class^=shinyButton_]) {
        background: var(--background-primary);
        > button[class^=closeButton_] {
            opacity: 1;
        }
        > svg,
        > [class^=modalTopPill][class*=freeTrial] {
            display: none;
        }
    }
}

/* Hide "You could be paying less" upsell in server boost payment modal */
> .paymentModalContent [class^=upsellFooter_] {
    display: none;
}

/* Hide the following upsell sections */
[class^=birthdayFeatureBorder],
[class^=container]:has([class^=falloweenArtContainer_]),
a[href*="/snowsgiving"] {
    display: none;
}

