@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/extracss.css");


/* --Improved User Area-- */
/* Make both the username and status message visible at all times. */
.container__37e49 .hovered__0263c, .hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c{
  opacity: 1!important;
  transform: none;
}
/* Adds an @ to the username. Discord, for the love of god, just add this yourself already. */
.container__37e49 .hovered__0263c::before{
  content: "@";
}
/* Move the custom Status message down so that it doesnt overlap with the Username */
.default__0263c{
  margin-top: 15px;
  opacity: 1!important;
  transform: none!important;
}
/* Credit to @thecommieaxolotl for this code. */
/* --Hides User Buttons until Hover-- */
 /* Hide mute and deafen buttons */
.panels__5e434 > .container__37e49 .buttons__37e49 > :not(:last-child) {
    opacity: 0%;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
 /* Reveal mute and Deafen buttons when settings button is hovered */
.panels__5e434 > .container__37e49 .buttons__37e49:hover > :not(:last-child) {
    opacity: 100%;
    width: 32px;
}
/* Resize and move the profile button to take up all the space it can to look clean. */
.avatarWrapper__37e49{
  transition: all 0.3s ease-in-out;
  width: 100%!important;
  margin-left: -10px;
  height: 53px;
  border-radius: 0!important;
}
/* Move the avatar back to the right a bit to look clean. */
.avatarWrapper__37e49 .avatar__37e49{
  margin-left: 10px;
}
/* Hide menus next to mute & deafen buttons (class-name safe) */
button[role="switch"]:has(svg) {
  border-radius: var(--radius-sm) !important;
}

button[role="switch"]:has(svg) ~ button {
  display: none !important;
}


/* Friends to Home */
[href="/channels/@me"] {
  visibility: hidden;
  position: relative;
}

.linkButtonIcon__972a0:has(path[d^="M3 5v-.75C3 3.56 3.56 3 4.25 3s1.24.56"]) {
  visibility: visable !important;
}

[href="/channels/@me"]::after {
  content: "Home　　　　　　　　　　";
  line-height: 80px;
  font-weight: 290;
  font-size: 30px; 
  letter-spacing:3px;
  font-family: Old London;
  color: rgb(255, 255, 255);
  /* color:  black */
  visibility: visible;
  position: absolute;
  left: 10px;
}


/* Customize the placeholder text */
textarea::placeholder,
[class^="textArea-"]::placeholder {
    color: #ffffff; /* Blue color */
    font-size: 14px; 
    font-style: italic;
    opacity: 0; /* Ensures full opacity for placeholder text */
}


/* Custom Discord icon using image */
.childWrapper__6e9f8>svg {
  background-image: url("https://i.imgur.com/w55Moxr.png");
  background-size: contain!important;
  width: 30px!important;
  height: 30px!important;
}
.childWrapper__6e9f8>svg>path {
  display: none;
}
.childWrapper__6e9f8:hover {
  background-color: transparent !important;
}
.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8{
    background-color: var(--background-mod-subtle);
}


/* Compact Search */
.search_c322aa > .searchBar_c322aa {
    width: 32px !important;
    background: none;
    border-color: transparent;
    transition: background .25s ease,
        width .25s ease,
        border-color .25s ease;
}
 
.search_c322aa > .searchBar_c322aa > .DraftEditor-root {
    padding-right: 3px !important;
}

.search_c322aa.open_c322aa > .searchBar_c322aa {
    width: 244px !important;
    background: var(--background-gradient-low, var(--input-background-default));
    border-color: var(--input-border-default);
}
 
.searchBar_c322aa .icon_c322aa.iconLayout__0c4c4 {
    margin-right: 7px;
}
 
[class^="search"] {
    margin: 0 !important;
}


/* Extra Settings */
:root {
    --\\--compact-title-bar: true;
    --\\--compact-input-box: false;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: true;
    --\\--compact-server-list: false;

    --\\--hide-nameplates: true;
    --\\--hide-guild-tags: true;
    --\\--hide-profile-effects: true;
    --\\--hide-avatar-decorations: true;
    --\\--hide-gradient-glow-usernames: true;
    --\\--hide-server-boost-goal: true;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: true;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: false;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: true;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-active-now: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: true;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */
}








/* Add New Below */








