/* Themes */
@import url("https://raw.githubusercontent.com/LuckFire/amoled-cord/main/clients/amoled-cord.theme.css");
@import url("https://raw.githubusercontent.com/MiniDiscordThemes/Squared/main/Squared.theme.css");


/* GIF Button */
button:has([d^=" M-7,-10 C-8.656999588012695,-10 -10"]),
/* Gift Button */
button:has([d^=" M-7,10 C-8.104999542236328,10 -9"]),
/* Nitro DM Button */
li:has([d^="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1"]),
/* Shop Button */
li:has([d^="M2.63 4.19A3 3 0 0 1 5.53 2H7a1"]) {
  display: none!important;
}


/* Custom Discord icon using image */
:root{
--discord-icon: none; /* discord icon */
--home-icon: block; /* moon icon */
--home-icon-url: url('https://i.imgur.com/ikWwyPd.png');
}

[class*=childWrapper] > svg:not([class*=favoriteIcon]){
  display: var(--discord-icon);
}
[class*=childWrapper]:has(svg:not([class*=favoriteIcon]))::before {
    content: '';
    display: var(--home-icon);
    position: absolute;
    width: 80%;
    height: 80%;
    background: var(--text-normal);
    mask-image: var(--home-icon-url) center/contain no-repeat !important;
    mask: var(--home-icon-url) center/contain no-repeat !important;
}

.form_a7d72e::after {
  display: none;
}
