@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/extracss.css");



/* --Improved User Area-- */
/* Make both the username and status message visible at all times. */
._37e49614b9f110a9-container ._0263c8321829b3e8-hovered, ._0263c8321829b3e8-hoverRoll._0263c8321829b3e8-forceHover:not(._0263c8321829b3e8-disabled) ._0263c8321829b3e8-default{
  opacity: 1!important;
  transform: none;
}
/* Adds an @ to the username. Discord, for the love of god, just add this yourself already. */
._37e49614b9f110a9-container ._0263c8321829b3e8-hovered::before{
  content: "@";
}
/* Move the custom Status message down so that it doesnt overlap with the Username */
._0263c8321829b3e8-default{
  margin-top: 15px;
  opacity: 1!important;
  transform: none!important;
}
/* Credit to @thecommieaxolotl for this code. */
/* --Hides User Buttons until Hover-- */
/* Hide mute and deafen buttons */
._5e434347c823b592-panels > ._37e49614b9f110a9-container ._37e49614b9f110a9-buttons > :not(:nth-last-child(2)) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.3s ease-in-out;
}
/* Reveal mute and Deafen buttons when settings button is hovered */
._5e434347c823b592-panels > ._37e49614b9f110a9-container ._37e49614b9f110a9-buttons:hover > :not(:nth-last-child(2)) {
  opacity: 100% !important;
  width: 32px;
}
/* Resize and move the profile button to take up all the space it can to look clean. */
._37e49614b9f110a9-avatarWrapper{
  transition: all 0.3s ease-in-out;
  width: 100%!important;
  margin-left: -10px;
  height: 53px;
  border-radius: 0!important;
}
/* Move the avatar back to the right a bit to look clean. */
._37e49614b9f110a9-avatarWrapper ._37e49614b9f110a9-avatar{
  margin-left: 10px;
}
/* Hide menus next to mute & deafen buttons (class-name safe) */
button[role="switch"]:has(svg) {
  border-radius: var(--radius-sm) !important;
}

button[role="switch"]:has(svg) ~ button {
  display: none !important;
}


/* Friends to Home */
[href="/channels/@me"] {
  visibility: hidden;
  position: relative;
}

._972a0d22c8afa7f0-linkButtonIcon:has(path[d^="M3 5v-.75C3 3.56 3.56 3 4.25 3s1.24.56"]) {
  visibility: visable !important;
}

[href="/channels/@me"]::after {
  content: "home　　　　　　　　　　";
  line-height: 80px;
  font-weight: 290;
  font-size: 32px; 
  letter-spacing:3px;
  font-family: Doto;
  color: rgb(255, 255, 255);
  /* color:  black */
  visibility: visible;
  position: absolute;
  left: 6px;
}


/* Customize the placeholder text */
textarea::placeholder,
[class^="textArea-"]::placeholder {
    color: #ffffff; /* Blue color */
    font-size: 14px; 
    font-style: italic;
    opacity: 0; /* Ensures full opacity for placeholder text */
}


/* Custom Discord icon using image */
._6e9f8dce4cc18de3-childWrapper>svg {
  background-image: url("https://i.imgur.com/8sBeWwt.png");
  background-size: contain!important;
  width: 30px!important;
  height: 30px!important;
}
._6e9f8dce4cc18de3-childWrapper>svg>path {
  display: none;
}
._6e9f8dce4cc18de3-childWrapper:hover {
  background-color: transparent !important;
}
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper{
    background-color: var(--background-mod-subtle);
}


/* Compact Search */
[class$="-search"] > [class$="-searchBar"] {
    width: 32px !important;
    background: none;
    border-color: transparent;
    transition: background .25s ease,
        width .25s ease,
        border-color .25s ease;
}

[class$="-search"] > [class$="-searchBar"] .DraftEditor-root {
    padding-right: 3px !important;
}

[class$="focused"] > [class$="-searchBar"],
[class$="open"] > [class$="-searchBar"] {
    width: 244px !important;
    background: var(--background-gradient-low, var(--input-background-default));
    border-color: var(--input-border-default);
}

[class$="-search"] > [class$="-searchBar"] [class$="iconLayout"] {
    margin-right: 7px;
}

[class$="-search"] {
    margin: 0 !important;
}


/* Extra Settings */
:root {
    --\\--compact-title-bar: true;
    --\\--compact-input-box: false;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: true;
    --\\--compact-server-list: false;

    --\\--hide-nameplates: true;
    --\\--hide-guild-tags: true;
    --\\--hide-profile-effects: true;
    --\\--hide-avatar-decorations: true;
    --\\--hide-gradient-glow-usernames: true;
    --\\--hide-server-boost-goal: true;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: true;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: false;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: false;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-active-now: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: true;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */
}








/* Add New Below */

















