@import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/extracss.css");


/* Mute, Deafon & Slide Buttons */
.container__37e49 .buttons__37e49 > :not(:last-child) {
    opacity: 0% !important;
    width: 15px;
    transition: all 0.2s ease-in-out;
  }
  /* Reveal mute and Deafen buttons when settings button is hovered */
  .container__37e49 .buttons__37e49:hover > :not(:last-child) {
    opacity: 100% !important;
    width: 30px;
  }
  /* Resize and move the profile button to take up all the space it can to look clean. */
  .avatarWrapper__37e49{
    transition: all 0.2s ease-in-out;
    width: 100% !important;
    margin-left: 0px;
    height: 0px;
    border-radius: 10px !important;
  }
  /* Move the avatar back to the right a bit to look clean. */
  .avatarWrapper__37e49 .avatar__37e49{
    margin-left: 0px;
  }
/* hide menus next to mute and deafen buttons */
div[class^=micButtonParent__] {
  button[role="switch"] {
    border-radius: var(--radius-sm) !important;
    
    ~ button {
      display: none;
    }
  }
}


/* Friends to Home */
[href="/channels/@me"] {
  visibility: hidden;
  position: relative;
}

.linkButtonIcon__972a0:has(path[d^="M3 5v-.75C3 3.56 3.56 3 4.25 3s1.24.56"]) {
  visibility: visable !important;
}

[href="/channels/@me"]::after {
  content: "home　　　　　　　　　　";
  line-height: 80px;
  font-weight: 290;
  font-size: 32px; 
  letter-spacing:3px;
  font-family: Doto;
  color: rgb(255, 255, 255);
  /* color:  black */
  visibility: visible;
  position: absolute;
  left: 4px;
}


/* Custom Discord icon using image */
.childWrapper__6e9f8>svg {
  background-image: url("https://i.imgur.com/8sBeWwt.png");
  background-size: contain!important;
  width: 30px!important;
  height: 30px!important;
}
.childWrapper__6e9f8>svg>path {
  display: none;
}
.childWrapper__6e9f8:hover {
  background-color: transparent !important;
}
.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8{
    background-color: var(--background-mod-subtle);
}


/* Image Loading (Test) */
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 28px;
        position: relative;
        content: url(https://media.giphy.com/media/ckT59CvStmUsU/giphy.gif?cid=ecf05e47b4ryql72u4y4shb8bib3j9a7aarege3qiphwu0uk&ep=v1_gifs_search&rid=giphy.gif&ct=g);
        image-rendering: pixelated;
         align-content: center;
         scale: 1.125;
         margin-bottom: 350px;
    }
}


/* Search Bar Compact */
    .upperContainer__9293f .toolbar__9293f .search__49676 { /* Re-Iconify Search */
        order: -1;
        .searchBar__97492 { /* Make the default state only show an icon that can be clicked. */
            transition: all ease 0.3s;
            width: 25px;
            box-sizing: unset;
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
            .icon__97492 {
                height: 32px;
                width: 32px;
                scale: 1.2;
                cursor: pointer;
            }
        }
        .focused__97492 .searchBar__97492, .open__97492 .searchBar__97492 { /* Expand the search bar when focused, and keep it expanded when text is entered. These classes make it really easy, thanks discord! */
            width: 225px;
            box-sizing: border-box;
            cursor: text;
            background: var(--background-gradient-low, var(--input-background));
            border: 1px solid var(--input-border);
            padding: 2px 0;
            .icon__97492 {
                height: 24px;
                width: 24px;
                scale: 1;
                cursor: pointer;
            }
        }
    }


/* PinDMs Fixes */
.vc-pindms-section-container {
    text-transform: unset !important;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: rgb(161, 161, 161)!important;
    /* V Uncomment this line to use the default category color. */
    /* color: var(--channels-default) !important; */
}


/* Extra Settings */
:root {
    --\\--compact-title-bar: true;
    --\\--compact-input-box: false;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: true;
    --\\--compact-server-list: false;

    --\\--hide-nameplates: true;
    --\\--hide-guild-tags: true;
    --\\--hide-profile-effects: true;
    --\\--hide-avatar-decorations: true;
    --\\--hide-gradient-glow-usernames: true;
    --\\--hide-server-boost-goal: true;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: true;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: false;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: false;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-active-now: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: true;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */
}






/* Add New Below */








