import url("https://raw.githubusercontent.com/33XD33/customcss/refs/heads/main/extracss.css");

/* --Improved User Area-- */
/* Make both the username and status message visible at all times. */
._37e49614b9f110a9-container ._0263c8321829b3e8-hovered, ._0263c8321829b3e8-hoverRoll._0263c8321829b3e8-forceHover:not(._0263c8321829b3e8-disabled) ._0263c8321829b3e8-default{
  opacity: 1!important;
  transform: none;
}
/* Adds an @ to the username. Discord, for the love of god, just add this yourself already. */
._37e49614b9f110a9-container ._0263c8321829b3e8-hovered::before{
  content: "@";
}
/* Move the custom Status message down so that it doesnt overlap with the Username */
._0263c8321829b3e8-default{
  margin-top: 15px;
  opacity: 1!important;
  transform: none!important;
}
/* Credit to @thecommieaxolotl for this code. */
/* --Hides User Buttons until Hover-- */
/* Hide mute and deafen buttons */
._5e434347c823b592-panels > ._37e49614b9f110a9-container ._37e49614b9f110a9-buttons > :not(:nth-last-child(2)) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.3s ease-in-out;
}
/* Reveal mute and Deafen buttons when settings button is hovered */
._5e434347c823b592-panels > ._37e49614b9f110a9-container ._37e49614b9f110a9-buttons:hover > :not(:nth-last-child(2)) {
  opacity: 100% !important;
  width: 32px;
}
/* Resize and move the profile button to take up all the space it can to look clean. */
._37e49614b9f110a9-avatarWrapper{
  transition: all 0.3s ease-in-out;
  width: 100%!important;
  margin-left: -10px;
  height: 53px;
  border-radius: 0!important;
}
/* Move the avatar back to the right a bit to look clean. */
._37e49614b9f110a9-avatarWrapper ._37e49614b9f110a9-avatar{
  margin-left: 10px;
}
/* hide menus next to mute and deafen buttons */
div[class^=micButtonParent__] {
  button[role="switch"] {
    border-radius: var(--radius-sm) !important;
    
    ~ button {
      display: none;
    }
  }
}


/* Friends to Home */
[href="/channels/@me"] {
  visibility: hidden;
  position: relative;
}

._972a0d22c8afa7f0-linkButtonIcon:has(path[d^="M3 5v-.75C3 3.56 3.56 3 4.25 3s1.24.56"]) {
  visibility: visable !important;
}

[href="/channels/@me"]::after {
  content: "home　　　　　　　　　　";
  line-height: 80px;
  font-weight: 290;
  font-size: 32px; 
  letter-spacing:3px;
  font-family: Doto;
  color: rgb(255, 255, 255);
  /* color:  black */
  visibility: visible;
  position: absolute;
  left: 6px;
}


/* Customize the placeholder text */
textarea::placeholder,
[class^="textArea-"]::placeholder {
    color: #ffffff; /* Blue color */
    font-size: 14px; 
    font-style: italic;
    opacity: 0; /* Ensures full opacity for placeholder text */
}


/* Custom Discord icon using image */
._6e9f8dce4cc18de3-childWrapper>svg {
  background-image: url("https://i.imgur.com/8sBeWwt.png");
  background-size: contain!important;
  width: 30px!important;
  height: 30px!important;
}
._6e9f8dce4cc18de3-childWrapper>svg>path {
  display: none;
}
._6e9f8dce4cc18de3-childWrapper:hover {
  background-color: transparent !important;
}
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper{
    background-color: var(--background-mod-subtle);
}


/* Search Bar Compact */
    ._9293f6b2fc12398a-upperContainer ._9293f6b2fc12398a-toolbar ._496769951eb140fe-search { /* Re-Iconify Search */
        order: -1;
        ._974928fe84ca9647-searchBar { /* Make the default state only show an icon that can be clicked. */
            transition: all ease 0.3s;
            width: 25px;
            box-sizing: unset;
            cursor: pointer;
            background: none;
            border: none;
            padding: 0;
            ._974928fe84ca9647-icon {
                height: 32px;
                width: 32px;
                scale: 1.2;
                cursor: pointer;
            }
        }
        ._974928fe84ca9647-focused ._974928fe84ca9647-searchBar, ._974928fe84ca9647-open ._974928fe84ca9647-searchBar { /* Expand the search bar when focused, and keep it expanded when text is entered. These classes make it really easy, thanks discord! */
            width: 225px;
            box-sizing: border-box;
            cursor: text;
            background: var(--background-gradient-low, var(--input-background));
            border: 1px solid var(--input-border);
            padding: 2px 0;
            ._974928fe84ca9647-icon {
                height: 24px;
                width: 24px;
                scale: 1;
                cursor: pointer;
            }
        }
    }


/* PinDMs Fixes */
.vc-pindms-section-container {
    text-transform: unset !important;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    color: rgb(161, 161, 161)!important;
    /* V Uncomment this line to use the default category color. */
    /* color: var(--channels-default) !important; */
}


/* Extra Settings */
:root {
    --\\--compact-title-bar: true;
    --\\--compact-input-box: false;
    --\\--compact-context-menu: true;
    --\\--compact-user-area: false;
    --\\--compact-channel-categories: true;
    --\\--compact-server-list: false;

    --\\--hide-nameplates: true;
    --\\--hide-guild-tags: true;
    --\\--hide-profile-effects: true;
    --\\--hide-avatar-decorations: true;
    --\\--hide-gradient-glow-usernames: true;
    --\\--hide-server-boost-goal: true;
    --\\--hide-server-activity: true;
    --\\--hide-user-activity: true;
    --\\--hide-context-menu-quick-reactions: true;
    --\\--hide-hover-quick-reactions: false;
    --\\--hide-image-edit-button: true;
    --\\--hide-gif-button: false;
    --\\--hide-sticker-button: false;
    --\\--hide-emoji-button: false;
    --\\--hide-apps-button: false;
    --\\--hide-gift-button: true;
    --\\--hide-help-button: false;
    --\\--hide-shop-button: false;
    --\\--hide-nitro-button: true;
    --\\--hide-active-now: true;
    --\\--hide-nitro-upsells: true;
    --\\--hide-vencord-desktop-platform-indicator: true;
    --\\--hide-cluttery-badges: true;
    /* ^ hides quest, hypesquad, active dev, and discriminator badges */
}








/* Add New Below */







._85643a485899904b-button:nth-of-type(1) {
    display: none;
}
